@font-face {
  font-family: 'Raph Lanok Future';
  src: url("../fonts/RaphLanokFuture.ttf");
}
@font-face {
  font-family: 'Coalition';
  src: url("../fonts/Coalition.ttf");
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
body input, body textarea, body .btn, body button {
  font-family: 'Lato', sans-serif;
}

blockquote p, .section-header p {
  font-weight: 300;
}

.light {
  font-weight: 300 !important;
}

.hairline strong {
  font-weight: 300;
}

h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Raph Lanok Future', sans-serif;
  font-weight: 300;
}

.acc-title {
  font-family: 'Lato', sans-serif;
}

.lead {
  font-weight: 300;
}
.lead strong {
  font-weight: 600;
}

#masthead .brand {
  font-weight: 300;
}

.simple-title {
  font-family: 'Lato', sans-serif;
}
