/* ------------- */
/* COLOR SWATCES */
/* ------------- */
/* - White blue - */
.swatch-white-blue, [class*="swatch-"] .swatch-white-blue {
  background: #fff;
  color: #444;
}
.swatch-white-blue .decor, [class*="swatch-"] .swatch-white-blue .decor {
  fill: #fff;
  stroke: #0084e1;
}
.swatch-white-blue h1, .swatch-white-blue h2, .swatch-white-blue h3, .swatch-white-blue h4, .swatch-white-blue h5, .swatch-white-blue h6, [class*="swatch-"] .swatch-white-blue h1, [class*="swatch-"] .swatch-white-blue h2, [class*="swatch-"] .swatch-white-blue h3, [class*="swatch-"] .swatch-white-blue h4, [class*="swatch-"] .swatch-white-blue h5, [class*="swatch-"] .swatch-white-blue h6 {
  color: #222;
}
.swatch-white-blue h1 a, .swatch-white-blue h2 a, .swatch-white-blue h3 a, .swatch-white-blue h4 a, .swatch-white-blue h5 a, .swatch-white-blue h6 a, [class*="swatch-"] .swatch-white-blue h1 a, [class*="swatch-"] .swatch-white-blue h2 a, [class*="swatch-"] .swatch-white-blue h3 a, [class*="swatch-"] .swatch-white-blue h4 a, [class*="swatch-"] .swatch-white-blue h5 a, [class*="swatch-"] .swatch-white-blue h6 a {
  color: #0084e1;
}
.swatch-white-blue h1 small, .swatch-white-blue h2 small, .swatch-white-blue h3 small, .swatch-white-blue h4 small, .swatch-white-blue h5 small, .swatch-white-blue h6 small, [class*="swatch-"] .swatch-white-blue h1 small, [class*="swatch-"] .swatch-white-blue h2 small, [class*="swatch-"] .swatch-white-blue h3 small, [class*="swatch-"] .swatch-white-blue h4 small, [class*="swatch-"] .swatch-white-blue h5 small, [class*="swatch-"] .swatch-white-blue h6 small {
  color: #444;
}
.swatch-white-blue a, [class*="swatch-"] .swatch-white-blue a {
  color: #0084e1;
}
.swatch-white-blue a:hover, [class*="swatch-"] .swatch-white-blue a:hover {
  color: #466979;
}
.swatch-white-blue small, [class*="swatch-"] .swatch-white-blue small {
  color: #666;
}
.swatch-white-blue small a, [class*="swatch-"] .swatch-white-blue small a {
  color: #666;
}
.swatch-white-blue small a:hover, [class*="swatch-"] .swatch-white-blue small a:hover {
  color: #0084e1;
}
.swatch-white-blue i, [class*="swatch-"] .swatch-white-blue i {
  color: #0084e1;
}
.swatch-white-blue blockquote, [class*="swatch-"] .swatch-white-blue blockquote {
  border-color: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue blockquote small, [class*="swatch-"] .swatch-white-blue blockquote small {
  color: #222;
}
.swatch-white-blue ::selection, [class*="swatch-"] .swatch-white-blue ::selection {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue ::-moz-selection, [class*="swatch-"] .swatch-white-blue ::-moz-selection {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue hr, [class*="swatch-"] .swatch-white-blue hr {
  border-top-color: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue pre, [class*="swatch-"] .swatch-white-blue pre {
  background: #444;
  color: #fff;
}
.swatch-white-blue .section-header:after, .swatch-white-blue .bordered-header:after, [class*="swatch-"] .swatch-white-blue .section-header:after, [class*="swatch-"] .swatch-white-blue .bordered-header:after {
  background: #0084e1;
}
.swatch-white-blue .active, [class*="swatch-"] .swatch-white-blue .active {
  color: #466979;
}
.swatch-white-blue .btn-primary, .swatch-white-blue button, .swatch-white-blue input[type="submit"], [class*="swatch-"] .swatch-white-blue .btn-primary, [class*="swatch-"] .swatch-white-blue button, [class*="swatch-"] .swatch-white-blue input[type="submit"] {
  background-color: #0084e1;
  color: #fff;
}
.swatch-white-blue .btn-primary:hover, .swatch-white-blue button:hover, .swatch-white-blue input[type="submit"]:hover, [class*="swatch-"] .swatch-white-blue .btn-primary:hover, [class*="swatch-"] .swatch-white-blue button:hover, [class*="swatch-"] .swatch-white-blue input[type="submit"]:hover {
  background-color: #329ce7;
  color: #fff;
}
.swatch-white-blue .btn-primary.btn-icon-right:after, .swatch-white-blue button.btn-icon-right:after, .swatch-white-blue input[type="submit"].btn-icon-right:after, [class*="swatch-"] .swatch-white-blue .btn-primary.btn-icon-right:after, [class*="swatch-"] .swatch-white-blue button.btn-icon-right:after, [class*="swatch-"] .swatch-white-blue input[type="submit"].btn-icon-right:after {
  border-left-color: #0084e1;
}
.swatch-white-blue .btn-primary.btn-icon-left:after, .swatch-white-blue button.btn-icon-left:after, .swatch-white-blue input[type="submit"].btn-icon-left:after, [class*="swatch-"] .swatch-white-blue .btn-primary.btn-icon-left:after, [class*="swatch-"] .swatch-white-blue button.btn-icon-left:after, [class*="swatch-"] .swatch-white-blue input[type="submit"].btn-icon-left:after {
  border-right-color: #0084e1;
}
.swatch-white-blue .btn-primary.btn-icon-right:hover:after, .swatch-white-blue button.btn-icon-right:hover:after, .swatch-white-blue input[type="submit"].btn-icon-right:hover:after, [class*="swatch-"] .swatch-white-blue .btn-primary.btn-icon-right:hover:after, [class*="swatch-"] .swatch-white-blue button.btn-icon-right:hover:after, [class*="swatch-"] .swatch-white-blue input[type="submit"].btn-icon-right:hover:after {
  border-left-color: rgba(0,132,225, 0.8);
}
.swatch-white-blue .btn-primary.btn-icon-left:hover:after, .swatch-white-blue button.btn-icon-left:hover:after, .swatch-white-blue input[type="submit"].btn-icon-left:hover:after, [class*="swatch-"] .swatch-white-blue .btn-primary.btn-icon-left:hover:after, [class*="swatch-"] .swatch-white-blue button.btn-icon-left:hover:after, [class*="swatch-"] .swatch-white-blue input[type="submit"].btn-icon-left:hover:after {
  border-right-color: rgba(0,132,225, 0.8);
}
.swatch-white-blue .btn-primary .hex-alt, .swatch-white-blue button .hex-alt, .swatch-white-blue input[type="submit"] .hex-alt, [class*="swatch-"] .swatch-white-blue .btn-primary .hex-alt, [class*="swatch-"] .swatch-white-blue button .hex-alt, [class*="swatch-"] .swatch-white-blue input[type="submit"] .hex-alt {
  background: rgba(255, 255, 255, 0.2);
}
.swatch-white-blue .btn-primary .hex-alt:before, .swatch-white-blue button .hex-alt:before, .swatch-white-blue input[type="submit"] .hex-alt:before, [class*="swatch-"] .swatch-white-blue .btn-primary .hex-alt:before, [class*="swatch-"] .swatch-white-blue button .hex-alt:before, [class*="swatch-"] .swatch-white-blue input[type="submit"] .hex-alt:before {
  border-right-color: rgba(255, 255, 255, 0.2);
}
.swatch-white-blue .btn-primary .hex-alt:after, .swatch-white-blue button .hex-alt:after, .swatch-white-blue input[type="submit"] .hex-alt:after, [class*="swatch-"] .swatch-white-blue .btn-primary .hex-alt:after, [class*="swatch-"] .swatch-white-blue button .hex-alt:after, [class*="swatch-"] .swatch-white-blue input[type="submit"] .hex-alt:after {
  border-left-color: rgba(255, 255, 255, 0.2);
}
.swatch-white-blue .btn-primary .hex-alt i, .swatch-white-blue button .hex-alt i, .swatch-white-blue input[type="submit"] .hex-alt i, [class*="swatch-"] .swatch-white-blue .btn-primary .hex-alt i, [class*="swatch-"] .swatch-white-blue button .hex-alt i, [class*="swatch-"] .swatch-white-blue input[type="submit"] .hex-alt i {
  color: #fff !important;
  margin-top: -2px;
}
.swatch-white-blue .btn-link, [class*="swatch-"] .swatch-white-blue .btn-link {
  text-decoration: none;
  box-shadow: 0px 0px 0px 1px #0084e1 inset;
}
.swatch-white-blue .btn-link:hover, [class*="swatch-"] .swatch-white-blue .btn-link:hover {
  text-decoration: none;
  color: #0084e1;
  background: rgba(0,132,225, 0.05);
}
.swatch-white-blue select, .swatch-white-blue textarea, .swatch-white-blue input, .swatch-white-blue .uneditable-input, .swatch-white-blue .input-group-btn, [class*="swatch-"] .swatch-white-blue select, [class*="swatch-"] .swatch-white-blue textarea, [class*="swatch-"] .swatch-white-blue input, [class*="swatch-"] .swatch-white-blue .uneditable-input, [class*="swatch-"] .swatch-white-blue .input-group-btn {
  background: #DBE7ED;
  color: #444;
}
.swatch-white-blue select:-moz-placeholder, .swatch-white-blue textarea:-moz-placeholder, .swatch-white-blue input:-moz-placeholder, .swatch-white-blue .uneditable-input:-moz-placeholder, .swatch-white-blue .input-group-btn:-moz-placeholder, [class*="swatch-"] .swatch-white-blue select:-moz-placeholder, [class*="swatch-"] .swatch-white-blue textarea:-moz-placeholder, [class*="swatch-"] .swatch-white-blue input:-moz-placeholder, [class*="swatch-"] .swatch-white-blue .uneditable-input:-moz-placeholder, [class*="swatch-"] .swatch-white-blue .input-group-btn:-moz-placeholder {
  color: #515151;
}
.swatch-white-blue select::-moz-placeholder, .swatch-white-blue textarea::-moz-placeholder, .swatch-white-blue input::-moz-placeholder, .swatch-white-blue .uneditable-input::-moz-placeholder, .swatch-white-blue .input-group-btn::-moz-placeholder, [class*="swatch-"] .swatch-white-blue select::-moz-placeholder, [class*="swatch-"] .swatch-white-blue textarea::-moz-placeholder, [class*="swatch-"] .swatch-white-blue input::-moz-placeholder, [class*="swatch-"] .swatch-white-blue .uneditable-input::-moz-placeholder, [class*="swatch-"] .swatch-white-blue .input-group-btn::-moz-placeholder {
  color: #515151;
}
.swatch-white-blue select:-ms-input-placeholder, .swatch-white-blue textarea:-ms-input-placeholder, .swatch-white-blue input:-ms-input-placeholder, .swatch-white-blue .uneditable-input:-ms-input-placeholder, .swatch-white-blue .input-group-btn:-ms-input-placeholder, [class*="swatch-"] .swatch-white-blue select:-ms-input-placeholder, [class*="swatch-"] .swatch-white-blue textarea:-ms-input-placeholder, [class*="swatch-"] .swatch-white-blue input:-ms-input-placeholder, [class*="swatch-"] .swatch-white-blue .uneditable-input:-ms-input-placeholder, [class*="swatch-"] .swatch-white-blue .input-group-btn:-ms-input-placeholder {
  color: #515151;
}
.swatch-white-blue select::-webkit-input-placeholder, .swatch-white-blue textarea::-webkit-input-placeholder, .swatch-white-blue input::-webkit-input-placeholder, .swatch-white-blue .uneditable-input::-webkit-input-placeholder, .swatch-white-blue .input-group-btn::-webkit-input-placeholder, [class*="swatch-"] .swatch-white-blue select::-webkit-input-placeholder, [class*="swatch-"] .swatch-white-blue textarea::-webkit-input-placeholder, [class*="swatch-"] .swatch-white-blue input::-webkit-input-placeholder, [class*="swatch-"] .swatch-white-blue .uneditable-input::-webkit-input-placeholder, [class*="swatch-"] .swatch-white-blue .input-group-btn::-webkit-input-placeholder {
  color: #515151;
}
.swatch-white-blue input:focus, .swatch-white-blue textarea:focus, .swatch-white-blue .form-control:focus, [class*="swatch-"] .swatch-white-blue input:focus, [class*="swatch-"] .swatch-white-blue textarea:focus, [class*="swatch-"] .swatch-white-blue .form-control:focus {
  -webkit-box-shadow: 0px 3px 0px #C8D6DD;
  -moz-box-shadow: 0px 3px 0px #C8D6DD;
  box-shadow: 0px 3px 0px #C8D6DD;
}
.swatch-white-blue .form-icon-group i, [class*="swatch-"] .swatch-white-blue .form-icon-group i {
  color: #0084e1;
}
.swatch-white-blue input[type="button"], [class*="swatch-"] .swatch-white-blue input[type="button"] {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .select-wrap, [class*="swatch-"] .swatch-white-blue .select-wrap {
  background: #DBE7ED;
}
.swatch-white-blue .select-wrap select, [class*="swatch-"] .swatch-white-blue .select-wrap select {
  background: transparent;
}
.swatch-white-blue .table th, [class*="swatch-"] .swatch-white-blue .table th {
  background-color: #0084e1;
  text-transform: uppercase;
  color: #fff;
}
.swatch-white-blue.table th, [class*="swatch-"] .swatch-white-blue.table th {
  color: #fff;
  background-color: #0084e1;
}
.swatch-white-blue .table th, .swatch-white-blue .table td, .swatch-white-blue .table-bordered, [class*="swatch-"] .swatch-white-blue .table th, [class*="swatch-"] .swatch-white-blue .table td, [class*="swatch-"] .swatch-white-blue .table-bordered {
  border-color: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .table-striped tbody > tr:nth-child(odd) > td, .swatch-white-blue .table-striped tbody > tr:nth-child(odd) > th, .swatch-white-blue .table-hover tbody tr:hover > td, .swatch-white-blue .table-hover tbody tr:hover > th, [class*="swatch-"] .swatch-white-blue .table-striped tbody > tr:nth-child(odd) > td, [class*="swatch-"] .swatch-white-blue .table-striped tbody > tr:nth-child(odd) > th, [class*="swatch-"] .swatch-white-blue .table-hover tbody tr:hover > td, [class*="swatch-"] .swatch-white-blue .table-hover tbody tr:hover > th {
  background: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue.navbar, [class*="swatch-"] .swatch-white-blue.navbar {
  background: #fff;
  color: #222;
}
.swatch-white-blue.navbar .navbar-brand, [class*="swatch-"] .swatch-white-blue.navbar .navbar-brand {
  color: #222;
}
.swatch-white-blue.navbar .navbar-brand:hover, [class*="swatch-"] .swatch-white-blue.navbar .navbar-brand:hover {
  color: #222;
}
.swatch-white-blue.navbar .nav > li > a, [class*="swatch-"] .swatch-white-blue.navbar .nav > li > a {
  color: #0084e1;
}
.swatch-white-blue.navbar .nav > li > a:hover, .swatch-white-blue.navbar .nav > li > a:focus, [class*="swatch-"] .swatch-white-blue.navbar .nav > li > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav > li > a:focus {
  background: none;
}
.swatch-white-blue.navbar .nav > li > a:before, [class*="swatch-"] .swatch-white-blue.navbar .nav > li > a:before {
  background-color: #0084e1;
}
.swatch-white-blue .navbar-toggle, [class*="swatch-"] .swatch-white-blue .navbar-toggle {
  background: none;
}
.swatch-white-blue .navbar-toggle .icon-bar, [class*="swatch-"] .swatch-white-blue .navbar-toggle .icon-bar {
  background-color: #222;
}
.swatch-white-blue .navbar-toggle:hover, [class*="swatch-"] .swatch-white-blue .navbar-toggle:hover {
  background: none;
}
.swatch-white-blue.navbar .nav > .active > a, .swatch-white-blue.navbar .nav > .current-menu-parent > a
.swatch-white-blue.navbar .nav > .current-menu-ancestor > a
.swatch-white-blue.navbar .nav > .current-menu-item > a
.swatch-white-blue.navbar .nav > .active > a:hover, .swatch-white-blue.navbar .nav > .active > a:focus, .swatch-white-blue.navbar .nav > .current-menu-parent > a:focus, .swatch-white-blue.navbar .nav > .current-menu-parent > a:hover, .swatch-white-blue.navbar .nav > .current-menu-ancestor > a:focus, .swatch-white-blue.navbar .nav > .current-menu-ancestor > a:hover, .swatch-white-blue.navbar .nav > .current-menu-item > a:hover, .swatch-white-blue.navbar .nav > .current-menu-item > a:focus, .swatch-white-blue.navbar .nav > li > a:focus, .swatch-white-blue.navbar .nav > li > a:hover, .swatch-white-blue.navbar .nav li.dropdown.open > .dropdown-toggle, .swatch-white-blue.navbar .nav li.dropdown.active > .dropdown-toggle, .swatch-white-blue.navbar .nav li.dropdown.open.active > .dropdown-toggle, [class*="swatch-"] .swatch-white-blue.navbar .nav > .active > a, [class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-parent > a
.swatch-white-blue.navbar .nav > .current-menu-ancestor > a
.swatch-white-blue.navbar .nav > .current-menu-item > a
.swatch-white-blue.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav > .active > a:focus, [class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-parent > a:focus, [class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-parent > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-ancestor > a:focus, [class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-ancestor > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-item > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-item > a:focus, [class*="swatch-"] .swatch-white-blue.navbar .nav > li > a:focus, [class*="swatch-"] .swatch-white-blue.navbar .nav > li > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav li.dropdown.open > .dropdown-toggle, [class*="swatch-"] .swatch-white-blue.navbar .nav li.dropdown.active > .dropdown-toggle, [class*="swatch-"] .swatch-white-blue.navbar .nav li.dropdown.open.active > .dropdown-toggle, .swatch-white-blue.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-ancestor > a
.swatch-white-blue.navbar .nav > .current-menu-item > a
.swatch-white-blue.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-ancestor > a
.swatch-white-blue.navbar .nav > .current-menu-item > a
.swatch-white-blue.navbar .nav > .active > a:hover, .swatch-white-blue.navbar .nav > .current-menu-parent > a
.swatch-white-blue.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-item > a
.swatch-white-blue.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-parent > a
.swatch-white-blue.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-item > a
.swatch-white-blue.navbar .nav > .active > a:hover, .swatch-white-blue.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-item > a
.swatch-white-blue.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-item > a
.swatch-white-blue.navbar .nav > .active > a:hover, .swatch-white-blue.navbar .nav > .current-menu-parent > a
.swatch-white-blue.navbar .nav > .current-menu-ancestor > a
.swatch-white-blue.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-parent > a
.swatch-white-blue.navbar .nav > .current-menu-ancestor > a
.swatch-white-blue.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .active > a:hover, .swatch-white-blue.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-ancestor > a
.swatch-white-blue.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-ancestor > a
.swatch-white-blue.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .active > a:hover, .swatch-white-blue.navbar .nav > .current-menu-parent > a
.swatch-white-blue.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-parent > a
.swatch-white-blue.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .active > a:hover, .swatch-white-blue.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-white-blue.navbar .nav > .active > a:hover {
  color: #222;
}
.swatch-white-blue .dropdown-menu, [class*="swatch-"] .swatch-white-blue .dropdown-menu {
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 4px 0px rgba(235, 235, 235, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 4px 0px rgba(235, 235, 235, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 4px 0px rgba(235, 235, 235, 0.3);
}
.swatch-white-blue .dropdown-menu > li > a, [class*="swatch-"] .swatch-white-blue .dropdown-menu > li > a {
  color: #222;
}
.swatch-white-blue .dropdown-menu a:hover, .swatch-white-blue .dropdown-menu > .active > a, .swatch-white-blue .dropdown-menu > .active > a:hover, .swatch-white-blue .dropdown-menu > .active > a:focus, [class*="swatch-"] .swatch-white-blue .dropdown-menu a:hover, [class*="swatch-"] .swatch-white-blue .dropdown-menu > .active > a, [class*="swatch-"] .swatch-white-blue .dropdown-menu > .active > a:hover, [class*="swatch-"] .swatch-white-blue .dropdown-menu > .active > a:focus {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .dropdown-menu a:hover i, .swatch-white-blue .dropdown-menu > .active > a i, .swatch-white-blue .dropdown-menu > .active > a:hover i, .swatch-white-blue .dropdown-menu > .active > a:focus i, [class*="swatch-"] .swatch-white-blue .dropdown-menu a:hover i, [class*="swatch-"] .swatch-white-blue .dropdown-menu > .active > a i, [class*="swatch-"] .swatch-white-blue .dropdown-menu > .active > a:hover i, [class*="swatch-"] .swatch-white-blue .dropdown-menu > .active > a:focus i {
  color: #fff;
}
.swatch-white-blue.navbar .nav > li > .dropdown-menu:after, .swatch-white-blue.navbar .nav > li > .dropdown-menu:before, [class*="swatch-"] .swatch-white-blue.navbar .nav > li > .dropdown-menu:after, [class*="swatch-"] .swatch-white-blue.navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.swatch-white-blue.navbar-scrolled, [class*="swatch-"] .swatch-white-blue.navbar-scrolled {
  background: rgba(255, 255, 255, 0.95);
}
.swatch-white-blue.navbar-scrolled, [class*="swatch-"] .swatch-white-blue.navbar-scrolled {
  -webkit-box-shadow: 0px 4px 0px rgba(235, 235, 235, 0.3);
  -moz-box-shadow: 0px 4px 0px rgba(235, 235, 235, 0.3);
  box-shadow: 0px 4px 0px rgba(235, 235, 235, 0.3);
}
.swatch-white-blue .dropdown-submenu > a:after, [class*="swatch-"] .swatch-white-blue .dropdown-submenu > a:after {
  border-left-color: #222 !important;
}
.swatch-white-blue .dropdown-submenu > a:hover:after, [class*="swatch-"] .swatch-white-blue .dropdown-submenu > a:hover:after {
  border-left-color: #fff !important;
}
.swatch-white-blue .dropdown-menu .divider, [class*="swatch-"] .swatch-white-blue .dropdown-menu .divider {
  background-color: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue.navbar .nav-highlight > a, [class*="swatch-"] .swatch-white-blue.navbar .nav-highlight > a {
  color: #fff !important;
}
.swatch-white-blue.navbar .nav-highlight > a:after, [class*="swatch-"] .swatch-white-blue.navbar .nav-highlight > a:after {
  background: #0084e1;
}
.swatch-white-blue.navbar .nav-highlight > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav-highlight > a:hover {
  color: #fff !important;
}
.swatch-white-blue.navbar .nav-highlight > a:hover:after, [class*="swatch-"] .swatch-white-blue.navbar .nav-highlight > a:hover:after {
  background: rgba(0,132,225, 0.8);
}
.swatch-white-blue.navbar li.nav-highlight-ghost > a, [class*="swatch-"] .swatch-white-blue.navbar li.nav-highlight-ghost > a {
  color: #0084e1;
}
.swatch-white-blue.navbar li.nav-highlight-ghost > a:after, [class*="swatch-"] .swatch-white-blue.navbar li.nav-highlight-ghost > a:after {
  border: 1px solid #0084e1;
}
.swatch-white-blue.navbar li.nav-highlight-ghost > a:hover, [class*="swatch-"] .swatch-white-blue.navbar li.nav-highlight-ghost > a:hover {
  color: rgba(0,132,225, 0.8);
}
.swatch-white-blue.navbar li.nav-highlight-ghost > a:hover:after, [class*="swatch-"] .swatch-white-blue.navbar li.nav-highlight-ghost > a:hover:after {
  border-color: rgba(0,132,225, 0.8);
}
.swatch-white-blue .menu-item-object-oxy_mega_menu, [class*="swatch-"] .swatch-white-blue .menu-item-object-oxy_mega_menu {
  color: #222;
}
.swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a, [class*="swatch-"] .swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a {
  color: #0084e1;
}
.swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li > strong a:hover, [class*="swatch-"] .swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li > strong a:hover {
  background: #0084e1;
}
.swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover, [class*="swatch-"] .swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover {
  color: #fff;
  background: #0084e1;
}
.swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li.current-menu-item > a, [class*="swatch-"] .swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li.current-menu-item > a {
  color: #fff;
  background: #0084e1;
}
.swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li > p, [class*="swatch-"] .swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li > p {
  border-bottom-color: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li:before, [class*="swatch-"] .swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li:before {
  background: rgba(0, 0, 0, 0.07);
}
@media (max-width: 979px) {
  .swatch-white-blue.navbar .nav > li > a, [class*="swatch-"] .swatch-white-blue.navbar .nav > li > a {
    border-radius: 0;
  }
  .swatch-white-blue.navbar .nav > li > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav > li > a:hover {
    background: #f2f2f2;
    color: #222;
  }
  .swatch-white-blue.navbar .dropdown-menu, [class*="swatch-"] .swatch-white-blue.navbar .dropdown-menu {
    background: #f2f2f2;
    border-radius: 0;
    box-shadow: none;
  }
  .swatch-white-blue.navbar .dropdown-menu > li > a, [class*="swatch-"] .swatch-white-blue.navbar .dropdown-menu > li > a {
    border-radius: 0;
    color: #222;
  }
  .swatch-white-blue.navbar .dropdown-menu li > a:hover, .swatch-white-blue.navbar .dropdown-menu li > a:focus, .swatch-white-blue.navbar .dropdown-menu li.active > a, [class*="swatch-"] .swatch-white-blue.navbar .dropdown-menu li > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .dropdown-menu li > a:focus, [class*="swatch-"] .swatch-white-blue.navbar .dropdown-menu li.active > a {
    background: #ebebeb;
    color: #0084e1;
  }
  .swatch-white-blue .dropdown-submenu > ul > li > a, [class*="swatch-"] .swatch-white-blue .dropdown-submenu > ul > li > a {
    background: #e6e6e6;
  }
  .swatch-white-blue .dropdown-submenu > ul > li > a:hover, [class*="swatch-"] .swatch-white-blue .dropdown-submenu > ul > li > a:hover {
    background: #f2f2f2;
  }
  .swatch-white-blue .dropdown-submenu > a:after, [class*="swatch-"] .swatch-white-blue .dropdown-submenu > a:after {
    border-left-color: transparent !important;
    border-top-color: #222 !important;
  }
  .swatch-white-blue.navbar .nav-highlight > a, [class*="swatch-"] .swatch-white-blue.navbar .nav-highlight > a {
    color: #0084e1 !important;
  }
  .swatch-white-blue.navbar .nav-highlight > a:after, [class*="swatch-"] .swatch-white-blue.navbar .nav-highlight > a:after {
    background: transparent;
  }
  .swatch-white-blue.navbar .nav-highlight > a:hover, [class*="swatch-"] .swatch-white-blue.navbar .nav-highlight > a:hover {
    color: #0084e1 !important;
  }
  .swatch-white-blue.navbar .nav-highlight > a:hover:after, [class*="swatch-"] .swatch-white-blue.navbar .nav-highlight > a:hover:after {
    background: transparent;
  }
  .swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover, [class*="swatch-"] .swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover {
    background: #ebebeb;
    color: #0084e1;
  }
  .swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li:before, [class*="swatch-"] .swatch-white-blue .menu-item-object-oxy_mega_menu .dropdown-menu > li:before {
    display: none;
  }
}
.swatch-white-blue .pagination > li > a, [class*="swatch-"] .swatch-white-blue .pagination > li > a {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .pagination > .active > a, .swatch-white-blue .pagination > .active > span, .swatch-white-blue .pagination > li > a:hover, [class*="swatch-"] .swatch-white-blue .pagination > .active > a, [class*="swatch-"] .swatch-white-blue .pagination > .active > span, [class*="swatch-"] .swatch-white-blue .pagination > li > a:hover {
  background: rgba(0,132,225, 0.8);
}
.swatch-white-blue .pagination > .active > a i, .swatch-white-blue .pagination > .active > span i, .swatch-white-blue .pagination > li > a:hover i, [class*="swatch-"] .swatch-white-blue .pagination > .active > a i, [class*="swatch-"] .swatch-white-blue .pagination > .active > span i, [class*="swatch-"] .swatch-white-blue .pagination > li > a:hover i {
  color: #fff;
}
.swatch-white-blue .pagination > li:first-child i, [class*="swatch-"] .swatch-white-blue .pagination > li:first-child i {
  color: #fff;
}
.swatch-white-blue .pagination > li:first-child a:after, [class*="swatch-"] .swatch-white-blue .pagination > li:first-child a:after {
  border-right-color: #0084e1;
}
.swatch-white-blue .pagination > li:first-child a:hover, [class*="swatch-"] .swatch-white-blue .pagination > li:first-child a:hover {
  background: rgba(0,132,225, 0.8);
}
.swatch-white-blue .pagination > li:first-child a:hover:after, [class*="swatch-"] .swatch-white-blue .pagination > li:first-child a:hover:after {
  border-right-color: rgba(0,132,225, 0.8);
}
.swatch-white-blue .pagination > li:last-child i, [class*="swatch-"] .swatch-white-blue .pagination > li:last-child i {
  color: #fff;
}
.swatch-white-blue .pagination > li:last-child a:after, [class*="swatch-"] .swatch-white-blue .pagination > li:last-child a:after {
  border-left-color: #0084e1;
}
.swatch-white-blue .pagination > li:last-child a:hover, [class*="swatch-"] .swatch-white-blue .pagination > li:last-child a:hover {
  background: rgba(0,132,225, 0.8);
}
.swatch-white-blue .pagination > li:last-child a:hover:after, [class*="swatch-"] .swatch-white-blue .pagination > li:last-child a:hover:after {
  border-left-color: rgba(0,132,225, 0.8);
}
.swatch-white-blue .tooltip-inner, [class*="swatch-"] .swatch-white-blue .tooltip-inner {
  background-color: #0084e1;
  color: #fff;
}
.swatch-white-blue .tooltip.in, [class*="swatch-"] .swatch-white-blue .tooltip.in {
  opacity: 1;
}
.swatch-white-blue .tooltip.top .tooltip-arrow, [class*="swatch-"] .swatch-white-blue .tooltip.top .tooltip-arrow {
  border-top-color: #0084e1;
}
.swatch-white-blue .tooltip.right .tooltip-arrow, [class*="swatch-"] .swatch-white-blue .tooltip.right .tooltip-arrow {
  border-right-color: #0084e1;
}
.swatch-white-blue .tooltip.left .tooltip-arrow, [class*="swatch-"] .swatch-white-blue .tooltip.left .tooltip-arrow {
  border-left-color: #0084e1;
}
.swatch-white-blue .tooltip.bottom .tooltip-arrow, [class*="swatch-"] .swatch-white-blue .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #0084e1;
}
.swatch-white-blue .progress, [class*="swatch-"] .swatch-white-blue .progress {
  background: rgba(0, 0, 0, 0.07);
  box-shadow: none;
}
.swatch-white-blue .progress .progress-bar-primary, [class*="swatch-"] .swatch-white-blue .progress .progress-bar-primary {
  background: #0084e1;
  box-shadow: none;
}
.swatch-white-blue .progress .progress-bar-primary span, [class*="swatch-"] .swatch-white-blue .progress .progress-bar-primary span {
  color: #fff;
}
.swatch-white-blue .badge, [class*="swatch-"] .swatch-white-blue .badge {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .tab-content, .swatch-white-blue .nav-tabs .active a, .swatch-white-blue .tab-content, .swatch-white-blue .nav-tabs .active a:hover, [class*="swatch-"] .swatch-white-blue .tab-content, [class*="swatch-"] .swatch-white-blue .nav-tabs .active a, [class*="swatch-"] .swatch-white-blue .tab-content, [class*="swatch-"] .swatch-white-blue .nav-tabs .active a:hover {
  background: #0084e1;
}
.swatch-white-blue .nav-tabs > li > a:hover, .swatch-white-blue .nav-tabs > li > a:focus, [class*="swatch-"] .swatch-white-blue .nav-tabs > li > a:hover, [class*="swatch-"] .swatch-white-blue .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #0084e1;
}
.swatch-white-blue .nav-tabs > li.active > a, [class*="swatch-"] .swatch-white-blue .nav-tabs > li.active > a {
  color: #fff;
}
.swatch-white-blue .nav-tabs > li.active > a:hover, [class*="swatch-"] .swatch-white-blue .nav-tabs > li.active > a:hover {
  color: #fff;
}
.swatch-white-blue .nav-pills > .active > a, .swatch-white-blue .nav-pills > .active > a:hover, .swatch-white-blue .nav-pills > li > a:hover, .swatch-white-blue .nav-pills > li.is-active > a, [class*="swatch-"] .swatch-white-blue .nav-pills > .active > a, [class*="swatch-"] .swatch-white-blue .nav-pills > .active > a:hover, [class*="swatch-"] .swatch-white-blue .nav-pills > li > a:hover, [class*="swatch-"] .swatch-white-blue .nav-pills > li.is-active > a {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .nav-pills > .active > a .badge, .swatch-white-blue .nav-pills > .active > a:hover .badge, .swatch-white-blue .nav-pills > li > a:hover .badge, .swatch-white-blue .nav-pills > li.is-active > a .badge, [class*="swatch-"] .swatch-white-blue .nav-pills > .active > a .badge, [class*="swatch-"] .swatch-white-blue .nav-pills > .active > a:hover .badge, [class*="swatch-"] .swatch-white-blue .nav-pills > li > a:hover .badge, [class*="swatch-"] .swatch-white-blue .nav-pills > li.is-active > a .badge {
  background: #fff;
  color: #0084e1;
}
.swatch-white-blue .nav-pills > .active > a:hover, .swatch-white-blue .nav-pills > .active > a:hover:hover, .swatch-white-blue .nav-pills > li > a:hover:hover, .swatch-white-blue .nav-pills > li.is-active > a:hover, [class*="swatch-"] .swatch-white-blue .nav-pills > .active > a:hover, [class*="swatch-"] .swatch-white-blue .nav-pills > .active > a:hover:hover, [class*="swatch-"] .swatch-white-blue .nav-pills > li > a:hover:hover, [class*="swatch-"] .swatch-white-blue .nav-pills > li.is-active > a:hover {
  color: #fff;
}
.swatch-white-blue .tab-pane, .swatch-white-blue .tab-pane.active, [class*="swatch-"] .swatch-white-blue .tab-pane, [class*="swatch-"] .swatch-white-blue .tab-pane.active {
  color: #fff;
}
.swatch-white-blue .tab-pane h1, .swatch-white-blue .tab-pane h2, .swatch-white-blue .tab-pane h3, .swatch-white-blue .tab-pane h4, .swatch-white-blue .tab-pane h5, .swatch-white-blue .tab-pane h6, .swatch-white-blue .tab-pane a, .swatch-white-blue .tab-pane p, .swatch-white-blue .tab-pane.active h1, .swatch-white-blue .tab-pane.active h2, .swatch-white-blue .tab-pane.active h3, .swatch-white-blue .tab-pane.active h4, .swatch-white-blue .tab-pane.active h5, .swatch-white-blue .tab-pane.active h6, .swatch-white-blue .tab-pane.active a, .swatch-white-blue .tab-pane.active p, [class*="swatch-"] .swatch-white-blue .tab-pane h1, [class*="swatch-"] .swatch-white-blue .tab-pane h2, [class*="swatch-"] .swatch-white-blue .tab-pane h3, [class*="swatch-"] .swatch-white-blue .tab-pane h4, [class*="swatch-"] .swatch-white-blue .tab-pane h5, [class*="swatch-"] .swatch-white-blue .tab-pane h6, [class*="swatch-"] .swatch-white-blue .tab-pane a, [class*="swatch-"] .swatch-white-blue .tab-pane p, [class*="swatch-"] .swatch-white-blue .tab-pane.active h1, [class*="swatch-"] .swatch-white-blue .tab-pane.active h2, [class*="swatch-"] .swatch-white-blue .tab-pane.active h3, [class*="swatch-"] .swatch-white-blue .tab-pane.active h4, [class*="swatch-"] .swatch-white-blue .tab-pane.active h5, [class*="swatch-"] .swatch-white-blue .tab-pane.active h6, [class*="swatch-"] .swatch-white-blue .tab-pane.active a, [class*="swatch-"] .swatch-white-blue .tab-pane.active p {
  color: #fff;
}
.swatch-white-blue .tab-pane .btn, .swatch-white-blue .tab-pane.active .btn, [class*="swatch-"] .swatch-white-blue .tab-pane .btn, [class*="swatch-"] .swatch-white-blue .tab-pane.active .btn {
  color: #0084e1 !important;
  background: #fff !important;
}
.swatch-white-blue .tab-pane .tooltip-inner, .swatch-white-blue .tab-pane.active .tooltip-inner, [class*="swatch-"] .swatch-white-blue .tab-pane .tooltip-inner, [class*="swatch-"] .swatch-white-blue .tab-pane.active .tooltip-inner {
  background-color: #fff;
  color: #0084e1;
}
.swatch-white-blue .tab-pane .tooltip.top .tooltip-arrow, .swatch-white-blue .tab-pane.active .tooltip.top .tooltip-arrow, [class*="swatch-"] .swatch-white-blue .tab-pane .tooltip.top .tooltip-arrow, [class*="swatch-"] .swatch-white-blue .tab-pane.active .tooltip.top .tooltip-arrow {
  border-top-color: #fff;
}
.swatch-white-blue .tab-pane .tooltip.right .tooltip-arrow, .swatch-white-blue .tab-pane.active .tooltip.right .tooltip-arrow, [class*="swatch-"] .swatch-white-blue .tab-pane .tooltip.right .tooltip-arrow, [class*="swatch-"] .swatch-white-blue .tab-pane.active .tooltip.right .tooltip-arrow {
  border-right-color: #fff;
}
.swatch-white-blue .tab-pane .tooltip.left .tooltip-arrow, .swatch-white-blue .tab-pane.active .tooltip.left .tooltip-arrow, [class*="swatch-"] .swatch-white-blue .tab-pane .tooltip.left .tooltip-arrow, [class*="swatch-"] .swatch-white-blue .tab-pane.active .tooltip.left .tooltip-arrow {
  border-left-color: #fff;
}
.swatch-white-blue .tab-pane .tooltip.bottom .tooltip-arrow, .swatch-white-blue .tab-pane.active .tooltip.bottom .tooltip-arrow, [class*="swatch-"] .swatch-white-blue .tab-pane .tooltip.bottom .tooltip-arrow, [class*="swatch-"] .swatch-white-blue .tab-pane.active .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fff;
}
.swatch-white-blue .docs-sidebar-nav, .swatch-white-blue.docs-sidebar-nav, [class*="swatch-"] .swatch-white-blue .docs-sidebar-nav, [class*="swatch-"] .swatch-white-blue.docs-sidebar-nav {
  background: none;
}
.swatch-white-blue .docs-sidebar-nav li a, .swatch-white-blue.docs-sidebar-nav li a, [class*="swatch-"] .swatch-white-blue .docs-sidebar-nav li a, [class*="swatch-"] .swatch-white-blue.docs-sidebar-nav li a {
  background: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .docs-sidebar-nav li.active a, .swatch-white-blue.docs-sidebar-nav li.active a, [class*="swatch-"] .swatch-white-blue .docs-sidebar-nav li.active a, [class*="swatch-"] .swatch-white-blue.docs-sidebar-nav li.active a {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .panel, .swatch-white-blue .well, [class*="swatch-"] .swatch-white-blue .panel, [class*="swatch-"] .swatch-white-blue .well {
  background: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .panel-heading, [class*="swatch-"] .swatch-white-blue .panel-heading {
  background: #0084e1;
}
.swatch-white-blue .panel-heading a, .swatch-white-blue .panel-heading .panel-title, [class*="swatch-"] .swatch-white-blue .panel-heading a, [class*="swatch-"] .swatch-white-blue .panel-heading .panel-title {
  color: #fff;
  text-decoration: none;
}
.swatch-white-blue .carousel-indicators li, [class*="swatch-"] .swatch-white-blue .carousel-indicators li {
  background-color: rgba(0,132,225, 0.5);
}
.swatch-white-blue .carousel-indicators li.active, [class*="swatch-"] .swatch-white-blue .carousel-indicators li.active {
  background-color: #0084e1;
}
.swatch-white-blue .thumbnail, [class*="swatch-"] .swatch-white-blue .thumbnail {
  background: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .thumbnail:hover, [class*="swatch-"] .swatch-white-blue .thumbnail:hover {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .overlay, [class*="swatch-"] .swatch-white-blue .overlay {
  background: rgba(0, 0, 0, 0.07) !important;
}
.swatch-white-blue .post-media, [class*="swatch-"] .swatch-white-blue .post-media {
  background-color: rgba(0, 0, 0, 0.07) !important;
}
.swatch-white-blue .media-inner:after, [class*="swatch-"] .swatch-white-blue .media-inner:after {
  background: #0084e1;
}
.swatch-white-blue .social-icons li a, .swatch-white-blue .social-share li a, [class*="swatch-"] .swatch-white-blue .social-icons li a, [class*="swatch-"] .swatch-white-blue .social-share li a {
  background-color: #0084e1;
}
.swatch-white-blue .social-icons li a i, .swatch-white-blue .social-share li a i, [class*="swatch-"] .swatch-white-blue .social-icons li a i, [class*="swatch-"] .swatch-white-blue .social-share li a i {
  color: #fff;
}
.swatch-white-blue .social-icons li a:not([data-iconcolor]):hover, .swatch-white-blue .social-share li a:not([data-iconcolor]):hover, [class*="swatch-"] .swatch-white-blue .social-icons li a:not([data-iconcolor]):hover, [class*="swatch-"] .swatch-white-blue .social-share li a:not([data-iconcolor]):hover {
  background-color: rgba(0,132,225, 0.8);
}
.swatch-white-blue .social-simple li a i, [class*="swatch-"] .swatch-white-blue .social-simple li a i {
  color: #0084e1;
}
.swatch-white-blue .social-simple li a:not([data-iconcolor]):hover i, [class*="swatch-"] .swatch-white-blue .social-simple li a:not([data-iconcolor]):hover i {
  color: rgba(0,132,225, 0.8);
}
.swatch-white-blue .grid-post .post-extras:before, [class*="swatch-"] .swatch-white-blue .grid-post .post-extras:before {
  background: #fff;
}
.swatch-white-blue .post-extras i, [class*="swatch-"] .swatch-white-blue .post-extras i {
  color: #0084e1;
}
.swatch-white-blue .list-fancy-icons li, .swatch-white-blue.list-fancy-icons li, .swatch-white-blue .list-fancy-icons .list-item, .swatch-white-blue.list-fancy-icons .list-item, [class*="swatch-"] .swatch-white-blue .list-fancy-icons li, [class*="swatch-"] .swatch-white-blue.list-fancy-icons li, [class*="swatch-"] .swatch-white-blue .list-fancy-icons .list-item, [class*="swatch-"] .swatch-white-blue.list-fancy-icons .list-item {
  background: #fff;
}
.swatch-white-blue .list-fancy-icons li .round, .swatch-white-blue .list-fancy-icons li .square, .swatch-white-blue.list-fancy-icons li .round, .swatch-white-blue.list-fancy-icons li .square, .swatch-white-blue .list-fancy-icons .list-item .round, .swatch-white-blue .list-fancy-icons .list-item .square, .swatch-white-blue.list-fancy-icons .list-item .round, .swatch-white-blue.list-fancy-icons .list-item .square, [class*="swatch-"] .swatch-white-blue .list-fancy-icons li .round, [class*="swatch-"] .swatch-white-blue .list-fancy-icons li .square, [class*="swatch-"] .swatch-white-blue.list-fancy-icons li .round, [class*="swatch-"] .swatch-white-blue.list-fancy-icons li .square, [class*="swatch-"] .swatch-white-blue .list-fancy-icons .list-item .round, [class*="swatch-"] .swatch-white-blue .list-fancy-icons .list-item .square, [class*="swatch-"] .swatch-white-blue.list-fancy-icons .list-item .round, [class*="swatch-"] .swatch-white-blue.list-fancy-icons .list-item .square {
  background: #0084e1;
}
.swatch-white-blue .list-fancy-icons li i, .swatch-white-blue.list-fancy-icons li i, .swatch-white-blue .list-fancy-icons .list-item i, .swatch-white-blue.list-fancy-icons .list-item i, [class*="swatch-"] .swatch-white-blue .list-fancy-icons li i, [class*="swatch-"] .swatch-white-blue.list-fancy-icons li i, [class*="swatch-"] .swatch-white-blue .list-fancy-icons .list-item i, [class*="swatch-"] .swatch-white-blue.list-fancy-icons .list-item i {
  color: #fff;
}
.swatch-white-blue .box-inner, [class*="swatch-"] .swatch-white-blue .box-inner {
  background: #0084e1;
}
.swatch-white-blue .box-inner i, [class*="swatch-"] .swatch-white-blue .box-inner i {
  color: #fff;
}
.swatch-white-blue .box-badge, [class*="swatch-"] .swatch-white-blue .box-badge {
  background: rgba(0,132,225, 0.9);
  color: #fff;
}
.swatch-white-blue .bordered:after, [class*="swatch-"] .swatch-white-blue .bordered:after {
  background: #0084e1;
}
.swatch-white-blue .vertical-icon-border [class^="col-md"]:first-child, .swatch-white-blue .horizontal-icon-border [class^="box-"]:before, [class*="swatch-"] .swatch-white-blue .vertical-icon-border [class^="col-md"]:first-child, [class*="swatch-"] .swatch-white-blue .horizontal-icon-border [class^="box-"]:before {
  border-color: #0084e1;
}
.swatch-white-blue #infscr-loading, [class*="swatch-"] .swatch-white-blue #infscr-loading {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .counter .value, [class*="swatch-"] .swatch-white-blue .counter .value {
  color: #222;
}
.swatch-white-blue .counter.underline:after, [class*="swatch-"] .swatch-white-blue .counter.underline:after {
  background: #0084e1;
}
.swatch-white-blue .countdown.underline b:before, [class*="swatch-"] .swatch-white-blue .countdown.underline b:before {
  background: #0084e1;
}
.swatch-white-blue .gform_wrapper .gsection, [class*="swatch-"] .swatch-white-blue .gform_wrapper .gsection {
  border-color: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .gf_progressbar, [class*="swatch-"] .swatch-white-blue .gf_progressbar {
  background: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .gf_progressbar_percentage, [class*="swatch-"] .swatch-white-blue .gf_progressbar_percentage {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .mejs-audio, [class*="swatch-"] .swatch-white-blue .mejs-audio {
  background-color: #0084e1;
  color: #fff;
}
.swatch-white-blue .mejs-container .mejs-controls .mejs-time span, [class*="swatch-"] .swatch-white-blue .mejs-container .mejs-controls .mejs-time span {
  color: #fff;
}
.swatch-white-blue .mejs-controls .mejs-button button:hover, [class*="swatch-"] .swatch-white-blue .mejs-controls .mejs-button button:hover {
  background: transparent;
}
.swatch-white-blue .mejs-controls .mejs-time-rail .mejs-time-loaded, [class*="swatch-"] .swatch-white-blue .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #fff;
}
.swatch-white-blue .mejs-controls .mejs-time-rail .mejs-time-current, .swatch-white-blue .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, [class*="swatch-"] .swatch-white-blue .mejs-controls .mejs-time-rail .mejs-time-current, [class*="swatch-"] .swatch-white-blue .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .select2-container, [class*="swatch-"] .swatch-white-blue .select2-container {
  background: #DBE7ED;
}
.swatch-white-blue .select2-container .select2-choice, [class*="swatch-"] .swatch-white-blue .select2-container .select2-choice {
  color: #444;
}
.swatch-white-blue .select2-container .select2-choice .select2-arrow b:after, [class*="swatch-"] .swatch-white-blue .select2-container .select2-choice .select2-arrow b:after {
  color: #444;
}
.swatch-white-blue .select2-drop-active, [class*="swatch-"] .swatch-white-blue .select2-drop-active {
  background: rgba(219, 231, 237, 0.9);
  color: #444;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.swatch-white-blue .select2-results .select2-highlighted, [class*="swatch-"] .swatch-white-blue .select2-results .select2-highlighted {
  background-color: #C8D6DD;
  color: #444;
}
.swatch-white-blue .select2-results, [class*="swatch-"] .swatch-white-blue .select2-results {
  background: #DBE7ED;
}
.swatch-white-blue .select2-search, [class*="swatch-"] .swatch-white-blue .select2-search {
  background: #fff;
}
.swatch-white-blue .hex, [class*="swatch-"] .swatch-white-blue .hex {
  background-color: #0084e1;
  color: #fff;
}
.swatch-white-blue .hex a, .swatch-white-blue .hex i, [class*="swatch-"] .swatch-white-blue .hex a, [class*="swatch-"] .swatch-white-blue .hex i {
  color: #fff;
}
.swatch-white-blue .hex a:hover, .swatch-white-blue .hex:hover, [class*="swatch-"] .swatch-white-blue .hex a:hover, [class*="swatch-"] .swatch-white-blue .hex:hover {
  color: #fff;
}
.swatch-white-blue .hex:before, [class*="swatch-"] .swatch-white-blue .hex:before {
  border-bottom-color: #0084e1;
}
.swatch-white-blue .hex:after, [class*="swatch-"] .swatch-white-blue .hex:after {
  border-top-color: #0084e1;
}
.swatch-white-blue .hex-left:after, .swatch-white-blue .hex-left:before, .swatch-white-blue .hex-right:after, .swatch-white-blue .hex-right:before, [class*="swatch-"] .swatch-white-blue .hex-left:after, [class*="swatch-"] .swatch-white-blue .hex-left:before, [class*="swatch-"] .swatch-white-blue .hex-right:after, [class*="swatch-"] .swatch-white-blue .hex-right:before {
  background-color: #fff;
}
.swatch-white-blue .pricing-head, .swatch-white-blue .pricing-body, [class*="swatch-"] .swatch-white-blue .pricing-head, [class*="swatch-"] .swatch-white-blue .pricing-body {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .pricing-head h4, .swatch-white-blue .pricing-head small, .swatch-white-blue .pricing-body h4, .swatch-white-blue .pricing-body small, [class*="swatch-"] .swatch-white-blue .pricing-head h4, [class*="swatch-"] .swatch-white-blue .pricing-head small, [class*="swatch-"] .swatch-white-blue .pricing-body h4, [class*="swatch-"] .swatch-white-blue .pricing-body small {
  color: #fff;
}
.swatch-white-blue .pricing-list li, [class*="swatch-"] .swatch-white-blue .pricing-list li {
  border-color: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .pricing-col .btn-primary, [class*="swatch-"] .swatch-white-blue .pricing-col .btn-primary {
  background: #fff;
  color: #0084e1;
}
.swatch-white-blue .pricing-col .btn-primary:hover, [class*="swatch-"] .swatch-white-blue .pricing-col .btn-primary:hover {
  background: #f0f0f0;
}
.swatch-white-blue .flexslider figcaption, [class*="swatch-"] .swatch-white-blue .flexslider figcaption {
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 4px 0px rgba(235, 235, 235, 0.3);
  -moz-box-shadow: 0px 4px 0px rgba(235, 235, 235, 0.3);
  box-shadow: 0px 4px 0px rgba(235, 235, 235, 0.3);
}
.swatch-white-blue .flex-directions-fancy .flex-direction-nav a, [class*="swatch-"] .swatch-white-blue .flex-directions-fancy .flex-direction-nav a {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .flex-control-nav a, [class*="swatch-"] .swatch-white-blue .flex-control-nav a {
  background: rgba(0,132,225, 0.5);
}
.swatch-white-blue .flex-control-nav a.flex-active, [class*="swatch-"] .swatch-white-blue .flex-control-nav a.flex-active {
  background: #0084e1;
}
.swatch-white-blue .sidebar, [class*="swatch-"] .swatch-white-blue .sidebar {
  color: #444;
}
.swatch-white-blue .sidebar h3, [class*="swatch-"] .swatch-white-blue .sidebar h3 {
  color: #222;
}
.swatch-white-blue .sidebar a, [class*="swatch-"] .swatch-white-blue .sidebar a {
  color: #444;
}
.swatch-white-blue .sidebar a:hover, [class*="swatch-"] .swatch-white-blue .sidebar a:hover {
  color: #0084e1;
}
.swatch-white-blue .widget_search .btn, [class*="swatch-"] .swatch-white-blue .widget_search .btn {
  background: #C8D6DD;
}
.swatch-white-blue .widget_search .btn i, [class*="swatch-"] .swatch-white-blue .widget_search .btn i {
  color: #0084e1 !important;
}
.swatch-white-blue .sidebar-widget .post-icon, [class*="swatch-"] .swatch-white-blue .sidebar-widget .post-icon {
  background: #0084e1;
}
.swatch-white-blue .sidebar-widget .post-icon i, [class*="swatch-"] .swatch-white-blue .sidebar-widget .post-icon i {
  color: #fff;
}
.swatch-white-blue .widget_tag_cloud ul a, [class*="swatch-"] .swatch-white-blue .widget_tag_cloud ul a {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .widget_tag_cloud ul a:hover, [class*="swatch-"] .swatch-white-blue .widget_tag_cloud ul a:hover {
  background: rgba(0,132,225, 0.9);
  color: #fff;
}
.swatch-white-blue .widget_calendar tbody a, [class*="swatch-"] .swatch-white-blue .widget_calendar tbody a {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .widget_calendar tbody a:hover, [class*="swatch-"] .swatch-white-blue .widget_calendar tbody a:hover {
  background: #558093;
  color: #fff;
}
.swatch-white-blue .widget_calendar tfoot, [class*="swatch-"] .swatch-white-blue .widget_calendar tfoot {
  background: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .widget_nav_menu .sub-menu, [class*="swatch-"] .swatch-white-blue .widget_nav_menu .sub-menu {
  border-color: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .widget_oxy_twitter li:before, [class*="swatch-"] .swatch-white-blue .widget_oxy_twitter li:before {
  color: #0084e1;
}
.swatch-white-blue .widget_swatch_wpml_language_selector li:before, [class*="swatch-"] .swatch-white-blue .widget_swatch_wpml_language_selector li:before {
  background: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .ajax-loader,
.swatch-white-blue .ajax-loader::before, [class*="swatch-"] .swatch-white-blue .ajax-loader,
[class*="swatch-"] .swatch-white-blue .ajax-loader::before {
  border-top-color: #0084e1 !important;
}
.swatch-white-blue .button, [class*="swatch-"] .swatch-white-blue .button {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .button:hover, [class*="swatch-"] .swatch-white-blue .button:hover {
  background: rgba(0,132,225, 0.9);
  color: #fff;
}
.swatch-white-blue .woocommerce-breadcrumb, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb {
  color: #fff;
}
.swatch-white-blue .woocommerce-breadcrumb a, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb a {
  color: #fff;
}
.swatch-white-blue .woocommerce-breadcrumb a:hover, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb a:hover {
  color: #fff;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(1), [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(1) {
  background: #0084e1;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(1):after, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(1):after {
  border-left-color: #0084e1;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(1):hover, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(1):hover {
  background: #598599;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(1):hover:after, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(1):hover:after {
  border-left-color: #598599;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(2), [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(2) {
  background: #769daf;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(2):after, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(2):after {
  border-left-color: #769daf;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(2):hover, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(2):hover {
  background: #7099ac;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(2):hover:after, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(2):hover:after {
  border-left-color: #7099ac;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(3), [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(3) {
  background: #86a9b9;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(3):after, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(3):after {
  border-left-color: #86a9b9;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(3):hover, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(3):hover {
  background: #7da2b3;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(3):hover:after, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(3):hover:after {
  border-left-color: #7da2b3;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(4), [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(4) {
  background: #96b4c2;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(4):after, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(4):after {
  border-left-color: #96b4c2;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(4):hover, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(4):hover {
  background: #8daebd;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(4):hover:after, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(4):hover:after {
  border-left-color: #8daebd;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(5), [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(5) {
  background: #a6c0cc;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(5):after, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(5):after {
  border-left-color: #a6c0cc;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(5):hover, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(5):hover {
  background: #9db9c6;
}
.swatch-white-blue .woocommerce-breadcrumb span:nth-child(5):hover:after, [class*="swatch-"] .swatch-white-blue .woocommerce-breadcrumb span:nth-child(5):hover:after {
  border-left-color: #9db9c6;
}
.swatch-white-blue .woocommerce-ordering .select-wrap, [class*="swatch-"] .swatch-white-blue .woocommerce-ordering .select-wrap {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .woocommerce-ordering .select-wrap:after, [class*="swatch-"] .swatch-white-blue .woocommerce-ordering .select-wrap:after {
  color: #fff;
}
.swatch-white-blue .woocommerce-ordering select, [class*="swatch-"] .swatch-white-blue .woocommerce-ordering select {
  color: #fff;
}
.swatch-white-blue .product .product-title:after, [class*="swatch-"] .swatch-white-blue .product .product-title:after {
  background: #0084e1;
}
.swatch-white-blue .star-rating, [class*="swatch-"] .swatch-white-blue .star-rating {
  color: #0084e1;
}
.swatch-white-blue .onsale, [class*="swatch-"] .swatch-white-blue .onsale {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .page-numbers a, .swatch-white-blue .page-numbers span, [class*="swatch-"] .swatch-white-blue .page-numbers a, [class*="swatch-"] .swatch-white-blue .page-numbers span {
  color: #fff;
}
.swatch-white-blue .page-numbers li, [class*="swatch-"] .swatch-white-blue .page-numbers li {
  background: #0084e1;
}
.swatch-white-blue .page-numbers .current, .swatch-white-blue .page-numbers li a:hover, [class*="swatch-"] .swatch-white-blue .page-numbers .current, [class*="swatch-"] .swatch-white-blue .page-numbers li a:hover {
  background: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .pager li > a:focus, [class*="swatch-"] .swatch-white-blue .pager li > a:focus {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .product-category h3, [class*="swatch-"] .swatch-white-blue .product-category h3 {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .product-category h3 mark, [class*="swatch-"] .swatch-white-blue .product-category h3 mark {
  background: rgba(0, 0, 0, 0.07);
  color: #fff;
}
.swatch-white-blue .product-nav a i, [class*="swatch-"] .swatch-white-blue .product-nav a i {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .product-images figcaption, [class*="swatch-"] .swatch-white-blue .product-images figcaption {
  box-shadow: none;
  background: #0084e1;
}
.swatch-white-blue .product-images figcaption i, [class*="swatch-"] .swatch-white-blue .product-images figcaption i {
  color: #fff;
}
.swatch-white-blue .product-images .flex-active, [class*="swatch-"] .swatch-white-blue .product-images .flex-active {
  -webkit-box-shadow: 0px 3px 0px #0084e1;
  -moz-box-shadow: 0px 3px 0px #0084e1;
  box-shadow: 0px 3px 0px #0084e1;
}
.swatch-white-blue .order_details, [class*="swatch-"] .swatch-white-blue .order_details {
  background: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .order_details li, [class*="swatch-"] .swatch-white-blue .order_details li {
  border-color: rgba(26, 26, 26, 0.07);
}
.swatch-white-blue .product-type-variable .variations .select-wrap, [class*="swatch-"] .swatch-white-blue .product-type-variable .variations .select-wrap {
  margin-bottom: 24px;
}
.swatch-white-blue .product-type-variable .variations .select-wrap select, [class*="swatch-"] .swatch-white-blue .product-type-variable .variations .select-wrap select {
  line-height: 28px;
}
.swatch-white-blue .product-type-variable .variations .label, [class*="swatch-"] .swatch-white-blue .product-type-variable .variations .label {
  color: #222;
  font-size: 16px;
  line-height: 30px;
}
.swatch-white-blue .single-product-extras input, .swatch-white-blue .single-product-extras textarea, [class*="swatch-"] .swatch-white-blue .single-product-extras input, [class*="swatch-"] .swatch-white-blue .single-product-extras textarea {
  background: #fff;
  color: #0084e1;
}
.swatch-white-blue .single-product-extras input[type="submit"]:hover, [class*="swatch-"] .swatch-white-blue .single-product-extras input[type="submit"]:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #0084e1;
}
.swatch-white-blue .single-product-extras .table, [class*="swatch-"] .swatch-white-blue .single-product-extras .table {
  background: transparent !important;
}
.swatch-white-blue #review_form:before, [class*="swatch-"] .swatch-white-blue #review_form:before {
  background: #507789;
}
.swatch-white-blue.mini-cart-container.active, [class*="swatch-"] .swatch-white-blue.mini-cart-container.active {
  box-shadow: -10px 0px 0px rgba(235, 235, 235, 0.3);
}
.swatch-white-blue .cart_list li, [class*="swatch-"] .swatch-white-blue .cart_list li {
  border-color: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .cart-actions, [class*="swatch-"] .swatch-white-blue .cart-actions {
  background: #fff;
  color: #0084e1;
}
.swatch-white-blue .widget_product_tag_cloud a, [class*="swatch-"] .swatch-white-blue .widget_product_tag_cloud a {
  background: #0084e1;
  color: #fff;
}
.swatch-white-blue .widget_product_tag_cloud a:hover, [class*="swatch-"] .swatch-white-blue .widget_product_tag_cloud a:hover {
  background: rgba(0,132,225, 0.9);
  color: #fff;
}
.swatch-white-blue .product_list_widget .star-rating, [class*="swatch-"] .swatch-white-blue .product_list_widget .star-rating {
  color: #0084e1;
}
.swatch-white-blue .widget_price_filter .ui-slider .ui-slider-range, [class*="swatch-"] .swatch-white-blue .widget_price_filter .ui-slider .ui-slider-range {
  background: rgba(0, 0, 0, 0.07);
}
.swatch-white-blue .widget_price_filter .ui-slider .ui-slider-handle, [class*="swatch-"] .swatch-white-blue .widget_price_filter .ui-slider .ui-slider-handle {
  background: #0084e1;
}
.swatch-white-blue .widget_product_search form:after, [class*="swatch-"] .swatch-white-blue .widget_product_search form:after {
  color: #fff;
}
