/* ------------- */
/* COLOR SWATCES */
/* ------------- */
/* - Blue white - */
.swatch-blue-white, [class*="swatch-"] .swatch-blue-white {
  background: #0084e1;
  color: #b8cad5;
}
.swatch-blue-white .decor, [class*="swatch-"] .swatch-blue-white .decor {
  fill: #0084e1;
  stroke: #fff;
}
.swatch-blue-white h1, .swatch-blue-white h2, .swatch-blue-white h3, .swatch-blue-white h4, .swatch-blue-white h5, .swatch-blue-white h6, [class*="swatch-"] .swatch-blue-white h1, [class*="swatch-"] .swatch-blue-white h2, [class*="swatch-"] .swatch-blue-white h3, [class*="swatch-"] .swatch-blue-white h4, [class*="swatch-"] .swatch-blue-white h5, [class*="swatch-"] .swatch-blue-white h6 {
  color: #fff;
}
.swatch-blue-white h1 a, .swatch-blue-white h2 a, .swatch-blue-white h3 a, .swatch-blue-white h4 a, .swatch-blue-white h5 a, .swatch-blue-white h6 a, [class*="swatch-"] .swatch-blue-white h1 a, [class*="swatch-"] .swatch-blue-white h2 a, [class*="swatch-"] .swatch-blue-white h3 a, [class*="swatch-"] .swatch-blue-white h4 a, [class*="swatch-"] .swatch-blue-white h5 a, [class*="swatch-"] .swatch-blue-white h6 a {
  color: #E5E5E3;
}
.swatch-blue-white h1 small, .swatch-blue-white h2 small, .swatch-blue-white h3 small, .swatch-blue-white h4 small, .swatch-blue-white h5 small, .swatch-blue-white h6 small, [class*="swatch-"] .swatch-blue-white h1 small, [class*="swatch-"] .swatch-blue-white h2 small, [class*="swatch-"] .swatch-blue-white h3 small, [class*="swatch-"] .swatch-blue-white h4 small, [class*="swatch-"] .swatch-blue-white h5 small, [class*="swatch-"] .swatch-blue-white h6 small {
  color: #b8cad5;
}
.swatch-blue-white a, [class*="swatch-"] .swatch-blue-white a {
  color: #fff;
}
.swatch-blue-white a:hover, [class*="swatch-"] .swatch-blue-white a:hover {
  color: #E5E5E3;
}
.swatch-blue-white small, [class*="swatch-"] .swatch-blue-white small {
  color: #E5E5E3;
}
.swatch-blue-white small a, [class*="swatch-"] .swatch-blue-white small a {
  color: #E5E5E3;
}
.swatch-blue-white small a:hover, [class*="swatch-"] .swatch-blue-white small a:hover {
  color: #fff;
}
.swatch-blue-white i, [class*="swatch-"] .swatch-blue-white i {
  color: #fff;
}
.swatch-blue-white blockquote, [class*="swatch-"] .swatch-blue-white blockquote {
  border-color: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white blockquote small, [class*="swatch-"] .swatch-blue-white blockquote small {
  color: #fff;
}
.swatch-blue-white ::selection, [class*="swatch-"] .swatch-blue-white ::selection {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white ::-moz-selection, [class*="swatch-"] .swatch-blue-white ::-moz-selection {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white hr, [class*="swatch-"] .swatch-blue-white hr {
  border-top-color: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white pre, [class*="swatch-"] .swatch-blue-white pre {
  background: #b8cad5;
  color: #0084e1;
}
.swatch-blue-white .section-header:after, .swatch-blue-white .bordered-header:after, [class*="swatch-"] .swatch-blue-white .section-header:after, [class*="swatch-"] .swatch-blue-white .bordered-header:after {
  background: #fff;
}
.swatch-blue-white .active, [class*="swatch-"] .swatch-blue-white .active {
  color: #E5E5E3;
}
.swatch-blue-white .btn-primary, .swatch-blue-white button, .swatch-blue-white input[type="submit"], [class*="swatch-"] .swatch-blue-white .btn-primary, [class*="swatch-"] .swatch-blue-white button, [class*="swatch-"] .swatch-blue-white input[type="submit"] {
  background-color: #fff;
  color: #0084E1;
}
.swatch-blue-white .btn-primary:hover, .swatch-blue-white button:hover, .swatch-blue-white input[type="submit"]:hover, [class*="swatch-"] .swatch-blue-white .btn-primary:hover, [class*="swatch-"] .swatch-blue-white button:hover, [class*="swatch-"] .swatch-blue-white input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #0084E1;
}
.swatch-blue-white .btn-primary.btn-icon-right:after, .swatch-blue-white button.btn-icon-right:after, .swatch-blue-white input[type="submit"].btn-icon-right:after, [class*="swatch-"] .swatch-blue-white .btn-primary.btn-icon-right:after, [class*="swatch-"] .swatch-blue-white button.btn-icon-right:after, [class*="swatch-"] .swatch-blue-white input[type="submit"].btn-icon-right:after {
  border-left-color: #B6593D;
}
.swatch-blue-white .btn-primary.btn-icon-left:after, .swatch-blue-white button.btn-icon-left:after, .swatch-blue-white input[type="submit"].btn-icon-left:after, [class*="swatch-"] .swatch-blue-white .btn-primary.btn-icon-left:after, [class*="swatch-"] .swatch-blue-white button.btn-icon-left:after, [class*="swatch-"] .swatch-blue-white input[type="submit"].btn-icon-left:after {
  border-right-color: #B6593D;
}
.swatch-blue-white .btn-primary.btn-icon-right:hover:after, .swatch-blue-white button.btn-icon-right:hover:after, .swatch-blue-white input[type="submit"].btn-icon-right:hover:after, [class*="swatch-"] .swatch-blue-white .btn-primary.btn-icon-right:hover:after, [class*="swatch-"] .swatch-blue-white button.btn-icon-right:hover:after, [class*="swatch-"] .swatch-blue-white input[type="submit"].btn-icon-right:hover:after {
  border-left-color: rgba(182, 89, 61, 0.9);
}
.swatch-blue-white .btn-primary.btn-icon-left:hover:after, .swatch-blue-white button.btn-icon-left:hover:after, .swatch-blue-white input[type="submit"].btn-icon-left:hover:after, [class*="swatch-"] .swatch-blue-white .btn-primary.btn-icon-left:hover:after, [class*="swatch-"] .swatch-blue-white button.btn-icon-left:hover:after, [class*="swatch-"] .swatch-blue-white input[type="submit"].btn-icon-left:hover:after {
  border-right-color: rgba(182, 89, 61, 0.9);
}
.swatch-blue-white .btn-primary .hex-alt, .swatch-blue-white button .hex-alt, .swatch-blue-white input[type="submit"] .hex-alt, [class*="swatch-"] .swatch-blue-white .btn-primary .hex-alt, [class*="swatch-"] .swatch-blue-white button .hex-alt, [class*="swatch-"] .swatch-blue-white input[type="submit"] .hex-alt {
  background: rgba(255, 255, 255, 0.2);
}
.swatch-blue-white .btn-primary .hex-alt:before, .swatch-blue-white button .hex-alt:before, .swatch-blue-white input[type="submit"] .hex-alt:before, [class*="swatch-"] .swatch-blue-white .btn-primary .hex-alt:before, [class*="swatch-"] .swatch-blue-white button .hex-alt:before, [class*="swatch-"] .swatch-blue-white input[type="submit"] .hex-alt:before {
  border-right-color: rgba(255, 255, 255, 0.2);
}
.swatch-blue-white .btn-primary .hex-alt:after, .swatch-blue-white button .hex-alt:after, .swatch-blue-white input[type="submit"] .hex-alt:after, [class*="swatch-"] .swatch-blue-white .btn-primary .hex-alt:after, [class*="swatch-"] .swatch-blue-white button .hex-alt:after, [class*="swatch-"] .swatch-blue-white input[type="submit"] .hex-alt:after {
  border-left-color: rgba(255, 255, 255, 0.2);
}
.swatch-blue-white .btn-primary .hex-alt i, .swatch-blue-white button .hex-alt i, .swatch-blue-white input[type="submit"] .hex-alt i, [class*="swatch-"] .swatch-blue-white .btn-primary .hex-alt i, [class*="swatch-"] .swatch-blue-white button .hex-alt i, [class*="swatch-"] .swatch-blue-white input[type="submit"] .hex-alt i {
  color: #fff !important;
}
.swatch-blue-white .btn-link, [class*="swatch-"] .swatch-blue-white .btn-link {
  text-decoration: none;
  box-shadow: 0px 0px 0px 1px #fff inset;
}
.swatch-blue-white .btn-link:hover, [class*="swatch-"] .swatch-blue-white .btn-link:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(182, 89, 61, 0.05);
}
.swatch-blue-white select, .swatch-blue-white textarea, .swatch-blue-white input, .swatch-blue-white .uneditable-input, .swatch-blue-white .input-group-btn, [class*="swatch-"] .swatch-blue-white select, [class*="swatch-"] .swatch-blue-white textarea, [class*="swatch-"] .swatch-blue-white input, [class*="swatch-"] .swatch-blue-white .uneditable-input, [class*="swatch-"] .swatch-blue-white .input-group-btn {
  background: #91B6C6;
  color: #E5E5E3;
}
.swatch-blue-white select:-moz-placeholder, .swatch-blue-white textarea:-moz-placeholder, .swatch-blue-white input:-moz-placeholder, .swatch-blue-white .uneditable-input:-moz-placeholder, .swatch-blue-white .input-group-btn:-moz-placeholder, [class*="swatch-"] .swatch-blue-white select:-moz-placeholder, [class*="swatch-"] .swatch-blue-white textarea:-moz-placeholder, [class*="swatch-"] .swatch-blue-white input:-moz-placeholder, [class*="swatch-"] .swatch-blue-white .uneditable-input:-moz-placeholder, [class*="swatch-"] .swatch-blue-white .input-group-btn:-moz-placeholder {
  color: #f1f1f0;
}
.swatch-blue-white select::-moz-placeholder, .swatch-blue-white textarea::-moz-placeholder, .swatch-blue-white input::-moz-placeholder, .swatch-blue-white .uneditable-input::-moz-placeholder, .swatch-blue-white .input-group-btn::-moz-placeholder, [class*="swatch-"] .swatch-blue-white select::-moz-placeholder, [class*="swatch-"] .swatch-blue-white textarea::-moz-placeholder, [class*="swatch-"] .swatch-blue-white input::-moz-placeholder, [class*="swatch-"] .swatch-blue-white .uneditable-input::-moz-placeholder, [class*="swatch-"] .swatch-blue-white .input-group-btn::-moz-placeholder {
  color: #f1f1f0;
}
.swatch-blue-white select:-ms-input-placeholder, .swatch-blue-white textarea:-ms-input-placeholder, .swatch-blue-white input:-ms-input-placeholder, .swatch-blue-white .uneditable-input:-ms-input-placeholder, .swatch-blue-white .input-group-btn:-ms-input-placeholder, [class*="swatch-"] .swatch-blue-white select:-ms-input-placeholder, [class*="swatch-"] .swatch-blue-white textarea:-ms-input-placeholder, [class*="swatch-"] .swatch-blue-white input:-ms-input-placeholder, [class*="swatch-"] .swatch-blue-white .uneditable-input:-ms-input-placeholder, [class*="swatch-"] .swatch-blue-white .input-group-btn:-ms-input-placeholder {
  color: #f1f1f0;
}
.swatch-blue-white select::-webkit-input-placeholder, .swatch-blue-white textarea::-webkit-input-placeholder, .swatch-blue-white input::-webkit-input-placeholder, .swatch-blue-white .uneditable-input::-webkit-input-placeholder, .swatch-blue-white .input-group-btn::-webkit-input-placeholder, [class*="swatch-"] .swatch-blue-white select::-webkit-input-placeholder, [class*="swatch-"] .swatch-blue-white textarea::-webkit-input-placeholder, [class*="swatch-"] .swatch-blue-white input::-webkit-input-placeholder, [class*="swatch-"] .swatch-blue-white .uneditable-input::-webkit-input-placeholder, [class*="swatch-"] .swatch-blue-white .input-group-btn::-webkit-input-placeholder {
  color: #f1f1f0;
}
.swatch-blue-white input:focus, .swatch-blue-white textarea:focus, .swatch-blue-white .form-control:focus, [class*="swatch-"] .swatch-blue-white input:focus, [class*="swatch-"] .swatch-blue-white textarea:focus, [class*="swatch-"] .swatch-blue-white .form-control:focus {
  -webkit-box-shadow: 0px 3px 0px #2B3940;
  -moz-box-shadow: 0px 3px 0px #2B3940;
  box-shadow: 0px 3px 0px #2B3940;
}
.swatch-blue-white .form-icon-group i, [class*="swatch-"] .swatch-blue-white .form-icon-group i {
  color: #B6593D;
}
.swatch-blue-white input[type="button"], [class*="swatch-"] .swatch-blue-white input[type="button"] {
  background: #B6593D;
  color: #fff;
}
.swatch-blue-white .select-wrap, [class*="swatch-"] .swatch-blue-white .select-wrap {
  background: #91B6C6;
}
.swatch-blue-white .select-wrap select, [class*="swatch-"] .swatch-blue-white .select-wrap select {
  background: transparent;
}
.swatch-blue-white .table th, [class*="swatch-"] .swatch-blue-white .table th {
  background-color: #fff;
  text-transform: uppercase;
  color: #0084e1;
}
.swatch-blue-white.table th, [class*="swatch-"] .swatch-blue-white.table th {
  color: #0084e1;
  background-color: #fff;
}
.swatch-blue-white .table th, .swatch-blue-white .table td, .swatch-blue-white .table-bordered, [class*="swatch-"] .swatch-blue-white .table th, [class*="swatch-"] .swatch-blue-white .table td, [class*="swatch-"] .swatch-blue-white .table-bordered {
  border-color: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .table-striped tbody > tr:nth-child(odd) > td, .swatch-blue-white .table-striped tbody > tr:nth-child(odd) > th, .swatch-blue-white .table-hover tbody tr:hover > td, .swatch-blue-white .table-hover tbody tr:hover > th, [class*="swatch-"] .swatch-blue-white .table-striped tbody > tr:nth-child(odd) > td, [class*="swatch-"] .swatch-blue-white .table-striped tbody > tr:nth-child(odd) > th, [class*="swatch-"] .swatch-blue-white .table-hover tbody tr:hover > td, [class*="swatch-"] .swatch-blue-white .table-hover tbody tr:hover > th {
  background: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white.navbar, [class*="swatch-"] .swatch-blue-white.navbar {
  background: #0084e1;
  color: #fff;
}
.swatch-blue-white.navbar .navbar-brand, [class*="swatch-"] .swatch-blue-white.navbar .navbar-brand {
  color: #fff;
}
.swatch-blue-white.navbar .navbar-brand:hover, [class*="swatch-"] .swatch-blue-white.navbar .navbar-brand:hover {
  color: #fff;
}
.swatch-blue-white.navbar .nav > li > a, [class*="swatch-"] .swatch-blue-white.navbar .nav > li > a {
  color: #fff;
}
.swatch-blue-white.navbar .nav > li > a:hover, .swatch-blue-white.navbar .nav > li > a:focus, [class*="swatch-"] .swatch-blue-white.navbar .nav > li > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav > li > a:focus {
  background: none;
}
.swatch-blue-white.navbar .nav > li > a:before, [class*="swatch-"] .swatch-blue-white.navbar .nav > li > a:before {
  background-color: #fff;
}
.swatch-blue-white .navbar-toggle, [class*="swatch-"] .swatch-blue-white .navbar-toggle {
  background: none;
}
.swatch-blue-white .navbar-toggle .icon-bar, [class*="swatch-"] .swatch-blue-white .navbar-toggle .icon-bar {
  background-color: #fff;
}
.swatch-blue-white .navbar-toggle:hover, [class*="swatch-"] .swatch-blue-white .navbar-toggle:hover {
  background: none;
}
.swatch-blue-white.navbar .nav > .active > a, .swatch-blue-white.navbar .nav > .current-menu-parent > a
.swatch-blue-white.navbar .nav > .current-menu-ancestor > a
.swatch-blue-white.navbar .nav > .current-menu-item > a
.swatch-blue-white.navbar .nav > .active > a:hover, .swatch-blue-white.navbar .nav > .active > a:focus, .swatch-blue-white.navbar .nav > .current-menu-parent > a:focus, .swatch-blue-white.navbar .nav > .current-menu-parent > a:hover, .swatch-blue-white.navbar .nav > .current-menu-ancestor > a:focus, .swatch-blue-white.navbar .nav > .current-menu-ancestor > a:hover, .swatch-blue-white.navbar .nav > .current-menu-item > a:hover, .swatch-blue-white.navbar .nav > .current-menu-item > a:focus, .swatch-blue-white.navbar .nav > li > a:focus, .swatch-blue-white.navbar .nav > li > a:hover, .swatch-blue-white.navbar .nav li.dropdown.open > .dropdown-toggle, .swatch-blue-white.navbar .nav li.dropdown.active > .dropdown-toggle, .swatch-blue-white.navbar .nav li.dropdown.open.active > .dropdown-toggle, [class*="swatch-"] .swatch-blue-white.navbar .nav > .active > a, [class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-parent > a
.swatch-blue-white.navbar .nav > .current-menu-ancestor > a
.swatch-blue-white.navbar .nav > .current-menu-item > a
.swatch-blue-white.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav > .active > a:focus, [class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-parent > a:focus, [class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-parent > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-ancestor > a:focus, [class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-ancestor > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-item > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-item > a:focus, [class*="swatch-"] .swatch-blue-white.navbar .nav > li > a:focus, [class*="swatch-"] .swatch-blue-white.navbar .nav > li > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav li.dropdown.open > .dropdown-toggle, [class*="swatch-"] .swatch-blue-white.navbar .nav li.dropdown.active > .dropdown-toggle, [class*="swatch-"] .swatch-blue-white.navbar .nav li.dropdown.open.active > .dropdown-toggle, .swatch-blue-white.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-ancestor > a
.swatch-blue-white.navbar .nav > .current-menu-item > a
.swatch-blue-white.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-ancestor > a
.swatch-blue-white.navbar .nav > .current-menu-item > a
.swatch-blue-white.navbar .nav > .active > a:hover, .swatch-blue-white.navbar .nav > .current-menu-parent > a
.swatch-blue-white.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-item > a
.swatch-blue-white.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-parent > a
.swatch-blue-white.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-item > a
.swatch-blue-white.navbar .nav > .active > a:hover, .swatch-blue-white.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-item > a
.swatch-blue-white.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-item > a
.swatch-blue-white.navbar .nav > .active > a:hover, .swatch-blue-white.navbar .nav > .current-menu-parent > a
.swatch-blue-white.navbar .nav > .current-menu-ancestor > a
.swatch-blue-white.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-parent > a
.swatch-blue-white.navbar .nav > .current-menu-ancestor > a
.swatch-blue-white.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .active > a:hover, .swatch-blue-white.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-ancestor > a
.swatch-blue-white.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-ancestor > a
.swatch-blue-white.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .active > a:hover, .swatch-blue-white.navbar .nav > .current-menu-parent > a
.swatch-blue-white.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-parent > a
.swatch-blue-white.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .active > a:hover, .swatch-blue-white.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .active > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-parent > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-ancestor > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .current-menu-item > a
[class*="swatch-"] .swatch-blue-white.navbar .nav > .active > a:hover {
  color: #fff;
}
.swatch-blue-white .dropdown-menu, [class*="swatch-"] .swatch-blue-white .dropdown-menu {
  background: rgba(0, 132, 225, 0.95);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 4px 0px rgba(84, 125, 144, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 4px 0px rgba(84, 125, 144, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 4px 0px rgba(84, 125, 144, 0.3);
}
.swatch-blue-white .dropdown-menu > li > a, [class*="swatch-"] .swatch-blue-white .dropdown-menu > li > a {
  color: #fff;
}
.swatch-blue-white .dropdown-menu a:hover, .swatch-blue-white .dropdown-menu > .active > a, .swatch-blue-white .dropdown-menu > .active > a:hover, .swatch-blue-white .dropdown-menu > .active > a:focus, [class*="swatch-"] .swatch-blue-white .dropdown-menu a:hover, [class*="swatch-"] .swatch-blue-white .dropdown-menu > .active > a, [class*="swatch-"] .swatch-blue-white .dropdown-menu > .active > a:hover, [class*="swatch-"] .swatch-blue-white .dropdown-menu > .active > a:focus {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white .dropdown-menu a:hover i, .swatch-blue-white .dropdown-menu > .active > a i, .swatch-blue-white .dropdown-menu > .active > a:hover i, .swatch-blue-white .dropdown-menu > .active > a:focus i, [class*="swatch-"] .swatch-blue-white .dropdown-menu a:hover i, [class*="swatch-"] .swatch-blue-white .dropdown-menu > .active > a i, [class*="swatch-"] .swatch-blue-white .dropdown-menu > .active > a:hover i, [class*="swatch-"] .swatch-blue-white .dropdown-menu > .active > a:focus i {
  color: #0084e1;
}
.swatch-blue-white.navbar .nav > li > .dropdown-menu:after, .swatch-blue-white.navbar .nav > li > .dropdown-menu:before, [class*="swatch-"] .swatch-blue-white.navbar .nav > li > .dropdown-menu:after, [class*="swatch-"] .swatch-blue-white.navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.swatch-blue-white.navbar-scrolled, [class*="swatch-"] .swatch-blue-white.navbar-scrolled {
  background: rgba(0, 132, 225, 0.95);
}
.swatch-blue-white .dropdown-submenu > a:after, [class*="swatch-"] .swatch-blue-white .dropdown-submenu > a:after {
  border-left-color: #fff !important;
}
.swatch-blue-white .dropdown-submenu > a:hover:after, [class*="swatch-"] .swatch-blue-white .dropdown-submenu > a:hover:after {
  border-left-color: #0084e1 !important;
}
.swatch-blue-white .dropdown-menu .divider, [class*="swatch-"] .swatch-blue-white .dropdown-menu .divider {
  background-color: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white.navbar .nav-highlight > a, [class*="swatch-"] .swatch-blue-white.navbar .nav-highlight > a {
  color: #0084e1 !important;
}
.swatch-blue-white.navbar .nav-highlight > a:after, [class*="swatch-"] .swatch-blue-white.navbar .nav-highlight > a:after {
  background: #fff;
}
.swatch-blue-white.navbar .nav-highlight > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav-highlight > a:hover {
  color: #0084e1 !important;
}
.swatch-blue-white.navbar .nav-highlight > a:hover:after, [class*="swatch-"] .swatch-blue-white.navbar .nav-highlight > a:hover:after {
  background: rgba(255, 255, 255, 0.8);
}
.swatch-blue-white.navbar li.nav-highlight-ghost > a, [class*="swatch-"] .swatch-blue-white.navbar li.nav-highlight-ghost > a {
  color: #fff;
}
.swatch-blue-white.navbar li.nav-highlight-ghost > a:after, [class*="swatch-"] .swatch-blue-white.navbar li.nav-highlight-ghost > a:after {
  border: 1px solid #fff;
}
.swatch-blue-white.navbar li.nav-highlight-ghost > a:hover, [class*="swatch-"] .swatch-blue-white.navbar li.nav-highlight-ghost > a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.swatch-blue-white.navbar li.nav-highlight-ghost > a:hover:after, [class*="swatch-"] .swatch-blue-white.navbar li.nav-highlight-ghost > a:hover:after {
  border-color: rgba(255, 255, 255, 0.8);
}
.swatch-blue-white .menu-item-object-oxy_mega_menu, [class*="swatch-"] .swatch-blue-white .menu-item-object-oxy_mega_menu {
  color: #fff;
}
.swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a, [class*="swatch-"] .swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a {
  color: #fff;
}
.swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > strong a:hover, [class*="swatch-"] .swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > strong a:hover {
  background: #fff;
}
.swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover, [class*="swatch-"] .swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover {
  color: #0084e1;
  background: #fff;
}
.swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li.current-menu-item > a, [class*="swatch-"] .swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li.current-menu-item > a {
  color: #0084e1;
  background: #fff;
}
.swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > p, [class*="swatch-"] .swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > p {
  border-bottom-color: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li:before, [class*="swatch-"] .swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li:before {
  background: rgba(0, 0, 0, 0.075);
}
@media (max-width: 979px) {
  .swatch-blue-white.navbar .nav > li > a, [class*="swatch-"] .swatch-blue-white.navbar .nav > li > a {
    border-radius: 0;
  }
  .swatch-blue-white.navbar .nav > li > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav > li > a:hover {
    background: #598599;
    color: #fff;
  }
  .swatch-blue-white.navbar .dropdown-menu, [class*="swatch-"] .swatch-blue-white.navbar .dropdown-menu {
    background: #598599;
    border-radius: 0;
    box-shadow: none;
  }
  .swatch-blue-white.navbar .dropdown-menu > li > a, [class*="swatch-"] .swatch-blue-white.navbar .dropdown-menu > li > a {
    border-radius: 0;
    color: #fff;
  }
  .swatch-blue-white.navbar .dropdown-menu li > a:hover, .swatch-blue-white.navbar .dropdown-menu li > a:focus, .swatch-blue-white.navbar .dropdown-menu li.active > a, [class*="swatch-"] .swatch-blue-white.navbar .dropdown-menu li > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .dropdown-menu li > a:focus, [class*="swatch-"] .swatch-blue-white.navbar .dropdown-menu li.active > a {
    background: #547d90;
    color: #fff;
  }
  .swatch-blue-white .dropdown-submenu > ul > li > a, [class*="swatch-"] .swatch-blue-white .dropdown-submenu > ul > li > a {
    background: #507789;
  }
  .swatch-blue-white .dropdown-submenu > ul > li > a:hover, [class*="swatch-"] .swatch-blue-white .dropdown-submenu > ul > li > a:hover {
    background: #598599;
  }
  .swatch-blue-white .dropdown-submenu > a:after, [class*="swatch-"] .swatch-blue-white .dropdown-submenu > a:after {
    border-left-color: transparent !important;
    border-top-color: #fff !important;
  }
  .swatch-blue-white.navbar .nav-highlight > a, [class*="swatch-"] .swatch-blue-white.navbar .nav-highlight > a {
    color: #fff !important;
  }
  .swatch-blue-white.navbar .nav-highlight > a:after, [class*="swatch-"] .swatch-blue-white.navbar .nav-highlight > a:after {
    background: transparent;
  }
  .swatch-blue-white.navbar .nav-highlight > a:hover, [class*="swatch-"] .swatch-blue-white.navbar .nav-highlight > a:hover {
    color: #fff !important;
  }
  .swatch-blue-white.navbar .nav-highlight > a:hover:after, [class*="swatch-"] .swatch-blue-white.navbar .nav-highlight > a:hover:after {
    background: transparent;
  }
  .swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover, [class*="swatch-"] .swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li > ul > li > a:hover {
    background: #547d90;
    color: #fff;
  }
  .swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li:before, [class*="swatch-"] .swatch-blue-white .menu-item-object-oxy_mega_menu .dropdown-menu > li:before {
    display: none;
  }
}
.swatch-blue-white .pagination > li > a, [class*="swatch-"] .swatch-blue-white .pagination > li > a {
  background: #B6593D;
  color: #fff;
}
.swatch-blue-white .pagination > .active > a, .swatch-blue-white .pagination > .active > span, .swatch-blue-white .pagination > li > a:hover, [class*="swatch-"] .swatch-blue-white .pagination > .active > a, [class*="swatch-"] .swatch-blue-white .pagination > .active > span, [class*="swatch-"] .swatch-blue-white .pagination > li > a:hover {
  background: rgba(182, 89, 61, 0.8);
}
.swatch-blue-white .pagination > .active > a i, .swatch-blue-white .pagination > .active > span i, .swatch-blue-white .pagination > li > a:hover i, [class*="swatch-"] .swatch-blue-white .pagination > .active > a i, [class*="swatch-"] .swatch-blue-white .pagination > .active > span i, [class*="swatch-"] .swatch-blue-white .pagination > li > a:hover i {
  color: #fff;
}
.swatch-blue-white .pagination > li:first-child i, [class*="swatch-"] .swatch-blue-white .pagination > li:first-child i {
  color: #fff;
}
.swatch-blue-white .pagination > li:first-child a:after, [class*="swatch-"] .swatch-blue-white .pagination > li:first-child a:after {
  border-right-color: #B6593D;
}
.swatch-blue-white .pagination > li:first-child a:hover, [class*="swatch-"] .swatch-blue-white .pagination > li:first-child a:hover {
  background: rgba(182, 89, 61, 0.8);
}
.swatch-blue-white .pagination > li:first-child a:hover:after, [class*="swatch-"] .swatch-blue-white .pagination > li:first-child a:hover:after {
  border-right-color: rgba(182, 89, 61, 0.8);
}
.swatch-blue-white .pagination > li:last-child i, [class*="swatch-"] .swatch-blue-white .pagination > li:last-child i {
  color: #fff;
}
.swatch-blue-white .pagination > li:last-child a:after, [class*="swatch-"] .swatch-blue-white .pagination > li:last-child a:after {
  border-left-color: #B6593D;
}
.swatch-blue-white .pagination > li:last-child a:hover, [class*="swatch-"] .swatch-blue-white .pagination > li:last-child a:hover {
  background: rgba(182, 89, 61, 0.8);
}
.swatch-blue-white .pagination > li:last-child a:hover:after, [class*="swatch-"] .swatch-blue-white .pagination > li:last-child a:hover:after {
  border-left-color: rgba(182, 89, 61, 0.8);
}
.swatch-blue-white .tooltip-inner, [class*="swatch-"] .swatch-blue-white .tooltip-inner {
  background-color: #fff;
  color: #0084e1;
}
.swatch-blue-white .tooltip.in, [class*="swatch-"] .swatch-blue-white .tooltip.in {
  opacity: 1;
}
.swatch-blue-white .tooltip.top .tooltip-arrow, [class*="swatch-"] .swatch-blue-white .tooltip.top .tooltip-arrow {
  border-top-color: #fff;
}
.swatch-blue-white .tooltip.right .tooltip-arrow, [class*="swatch-"] .swatch-blue-white .tooltip.right .tooltip-arrow {
  border-right-color: #fff;
}
.swatch-blue-white .tooltip.left .tooltip-arrow, [class*="swatch-"] .swatch-blue-white .tooltip.left .tooltip-arrow {
  border-left-color: #fff;
}
.swatch-blue-white .tooltip.bottom .tooltip-arrow, [class*="swatch-"] .swatch-blue-white .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fff;
}
.swatch-blue-white .progress, [class*="swatch-"] .swatch-blue-white .progress {
  background: rgba(0, 0, 0, 0.075);
  box-shadow: none;
}
.swatch-blue-white .progress .progress-bar-primary, [class*="swatch-"] .swatch-blue-white .progress .progress-bar-primary {
  background: #B6593D;
  box-shadow: none;
}
.swatch-blue-white .progress .progress-bar-primary span, [class*="swatch-"] .swatch-blue-white .progress .progress-bar-primary span {
  color: #fff;
}
.swatch-blue-white .badge, [class*="swatch-"] .swatch-blue-white .badge {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white .tab-content, .swatch-blue-white .nav-tabs .active a, .swatch-blue-white .tab-content, .swatch-blue-white .nav-tabs .active a:hover, [class*="swatch-"] .swatch-blue-white .tab-content, [class*="swatch-"] .swatch-blue-white .nav-tabs .active a, [class*="swatch-"] .swatch-blue-white .tab-content, [class*="swatch-"] .swatch-blue-white .nav-tabs .active a:hover {
  background: #fff;
}
.swatch-blue-white .nav-tabs > li > a:hover, .swatch-blue-white .nav-tabs > li > a:focus, [class*="swatch-"] .swatch-blue-white .nav-tabs > li > a:hover, [class*="swatch-"] .swatch-blue-white .nav-tabs > li > a:focus {
  color: #0084e1;
  background-color: #fff;
}
.swatch-blue-white .nav-tabs > li.active > a, [class*="swatch-"] .swatch-blue-white .nav-tabs > li.active > a {
  color: #0084e1;
}
.swatch-blue-white .nav-tabs > li.active > a:hover, [class*="swatch-"] .swatch-blue-white .nav-tabs > li.active > a:hover {
  color: #0084e1;
}
.swatch-blue-white .nav-pills > .active > a, .swatch-blue-white .nav-pills > .active > a:hover, .swatch-blue-white .nav-pills > li > a:hover, .swatch-blue-white .nav-pills > li.is-active > a, [class*="swatch-"] .swatch-blue-white .nav-pills > .active > a, [class*="swatch-"] .swatch-blue-white .nav-pills > .active > a:hover, [class*="swatch-"] .swatch-blue-white .nav-pills > li > a:hover, [class*="swatch-"] .swatch-blue-white .nav-pills > li.is-active > a {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white .nav-pills > .active > a .badge, .swatch-blue-white .nav-pills > .active > a:hover .badge, .swatch-blue-white .nav-pills > li > a:hover .badge, .swatch-blue-white .nav-pills > li.is-active > a .badge, [class*="swatch-"] .swatch-blue-white .nav-pills > .active > a .badge, [class*="swatch-"] .swatch-blue-white .nav-pills > .active > a:hover .badge, [class*="swatch-"] .swatch-blue-white .nav-pills > li > a:hover .badge, [class*="swatch-"] .swatch-blue-white .nav-pills > li.is-active > a .badge {
  background: #0084e1;
  color: #fff;
}
.swatch-blue-white .nav-pills > .active > a:hover, .swatch-blue-white .nav-pills > .active > a:hover:hover, .swatch-blue-white .nav-pills > li > a:hover:hover, .swatch-blue-white .nav-pills > li.is-active > a:hover, [class*="swatch-"] .swatch-blue-white .nav-pills > .active > a:hover, [class*="swatch-"] .swatch-blue-white .nav-pills > .active > a:hover:hover, [class*="swatch-"] .swatch-blue-white .nav-pills > li > a:hover:hover, [class*="swatch-"] .swatch-blue-white .nav-pills > li.is-active > a:hover {
  color: #0084e1;
}
.swatch-blue-white .tab-pane, .swatch-blue-white .tab-pane.active, [class*="swatch-"] .swatch-blue-white .tab-pane, [class*="swatch-"] .swatch-blue-white .tab-pane.active {
  color: #0084e1;
}
.swatch-blue-white .tab-pane h1, .swatch-blue-white .tab-pane h2, .swatch-blue-white .tab-pane h3, .swatch-blue-white .tab-pane h4, .swatch-blue-white .tab-pane h5, .swatch-blue-white .tab-pane h6, .swatch-blue-white .tab-pane a, .swatch-blue-white .tab-pane p, .swatch-blue-white .tab-pane.active h1, .swatch-blue-white .tab-pane.active h2, .swatch-blue-white .tab-pane.active h3, .swatch-blue-white .tab-pane.active h4, .swatch-blue-white .tab-pane.active h5, .swatch-blue-white .tab-pane.active h6, .swatch-blue-white .tab-pane.active a, .swatch-blue-white .tab-pane.active p, [class*="swatch-"] .swatch-blue-white .tab-pane h1, [class*="swatch-"] .swatch-blue-white .tab-pane h2, [class*="swatch-"] .swatch-blue-white .tab-pane h3, [class*="swatch-"] .swatch-blue-white .tab-pane h4, [class*="swatch-"] .swatch-blue-white .tab-pane h5, [class*="swatch-"] .swatch-blue-white .tab-pane h6, [class*="swatch-"] .swatch-blue-white .tab-pane a, [class*="swatch-"] .swatch-blue-white .tab-pane p, [class*="swatch-"] .swatch-blue-white .tab-pane.active h1, [class*="swatch-"] .swatch-blue-white .tab-pane.active h2, [class*="swatch-"] .swatch-blue-white .tab-pane.active h3, [class*="swatch-"] .swatch-blue-white .tab-pane.active h4, [class*="swatch-"] .swatch-blue-white .tab-pane.active h5, [class*="swatch-"] .swatch-blue-white .tab-pane.active h6, [class*="swatch-"] .swatch-blue-white .tab-pane.active a, [class*="swatch-"] .swatch-blue-white .tab-pane.active p {
  color: #0084e1;
}
.swatch-blue-white .tab-pane .btn, .swatch-blue-white .tab-pane.active .btn, [class*="swatch-"] .swatch-blue-white .tab-pane .btn, [class*="swatch-"] .swatch-blue-white .tab-pane.active .btn {
  color: #fff !important;
  background: #0084e1 !important;
}
.swatch-blue-white .tab-pane .tooltip-inner, .swatch-blue-white .tab-pane.active .tooltip-inner, [class*="swatch-"] .swatch-blue-white .tab-pane .tooltip-inner, [class*="swatch-"] .swatch-blue-white .tab-pane.active .tooltip-inner {
  background-color: #0084e1;
  color: #fff;
}
.swatch-blue-white .tab-pane .tooltip.top .tooltip-arrow, .swatch-blue-white .tab-pane.active .tooltip.top .tooltip-arrow, [class*="swatch-"] .swatch-blue-white .tab-pane .tooltip.top .tooltip-arrow, [class*="swatch-"] .swatch-blue-white .tab-pane.active .tooltip.top .tooltip-arrow {
  border-top-color: #0084e1;
}
.swatch-blue-white .tab-pane .tooltip.right .tooltip-arrow, .swatch-blue-white .tab-pane.active .tooltip.right .tooltip-arrow, [class*="swatch-"] .swatch-blue-white .tab-pane .tooltip.right .tooltip-arrow, [class*="swatch-"] .swatch-blue-white .tab-pane.active .tooltip.right .tooltip-arrow {
  border-right-color: #0084e1;
}
.swatch-blue-white .tab-pane .tooltip.left .tooltip-arrow, .swatch-blue-white .tab-pane.active .tooltip.left .tooltip-arrow, [class*="swatch-"] .swatch-blue-white .tab-pane .tooltip.left .tooltip-arrow, [class*="swatch-"] .swatch-blue-white .tab-pane.active .tooltip.left .tooltip-arrow {
  border-left-color: #0084e1;
}
.swatch-blue-white .tab-pane .tooltip.bottom .tooltip-arrow, .swatch-blue-white .tab-pane.active .tooltip.bottom .tooltip-arrow, [class*="swatch-"] .swatch-blue-white .tab-pane .tooltip.bottom .tooltip-arrow, [class*="swatch-"] .swatch-blue-white .tab-pane.active .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #0084e1;
}
.swatch-blue-white .docs-sidebar-nav, .swatch-blue-white.docs-sidebar-nav, [class*="swatch-"] .swatch-blue-white .docs-sidebar-nav, [class*="swatch-"] .swatch-blue-white.docs-sidebar-nav {
  background: none;
}
.swatch-blue-white .docs-sidebar-nav li a, .swatch-blue-white.docs-sidebar-nav li a, [class*="swatch-"] .swatch-blue-white .docs-sidebar-nav li a, [class*="swatch-"] .swatch-blue-white.docs-sidebar-nav li a {
  background: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .docs-sidebar-nav li.active a, .swatch-blue-white.docs-sidebar-nav li.active a, [class*="swatch-"] .swatch-blue-white .docs-sidebar-nav li.active a, [class*="swatch-"] .swatch-blue-white.docs-sidebar-nav li.active a {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white .panel, .swatch-blue-white .well, [class*="swatch-"] .swatch-blue-white .panel, [class*="swatch-"] .swatch-blue-white .well {
  background: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .panel-heading, [class*="swatch-"] .swatch-blue-white .panel-heading {
  background: #fff;
}
.swatch-blue-white .panel-heading a, .swatch-blue-white .panel-heading .panel-title, [class*="swatch-"] .swatch-blue-white .panel-heading a, [class*="swatch-"] .swatch-blue-white .panel-heading .panel-title {
  color: #0084e1;
  text-decoration: none;
}
.swatch-blue-white .carousel-indicators li, [class*="swatch-"] .swatch-blue-white .carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.5);
}
.swatch-blue-white .carousel-indicators li.active, [class*="swatch-"] .swatch-blue-white .carousel-indicators li.active {
  background-color: white;
}
.swatch-blue-white .thumbnail, [class*="swatch-"] .swatch-blue-white .thumbnail {
  background: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .thumbnail:hover, [class*="swatch-"] .swatch-blue-white .thumbnail:hover {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white .overlay, [class*="swatch-"] .swatch-blue-white .overlay {
  background: rgba(0, 0, 0, 0.075) !important;
}
.swatch-blue-white .post-media, [class*="swatch-"] .swatch-blue-white .post-media {
  background-color: rgba(0, 0, 0, 0.075) !important;
}
.swatch-blue-white .media-inner:after, [class*="swatch-"] .swatch-blue-white .media-inner:after {
  background: #fff;
}
.swatch-blue-white .social-icons li a, .swatch-blue-white .social-share li a, [class*="swatch-"] .swatch-blue-white .social-icons li a, [class*="swatch-"] .swatch-blue-white .social-share li a {
  background-color: #fff;
}
.swatch-blue-white .social-icons li a i, .swatch-blue-white .social-share li a i, [class*="swatch-"] .swatch-blue-white .social-icons li a i, [class*="swatch-"] .swatch-blue-white .social-share li a i {
  color: #0084e1;
}
.swatch-blue-white .social-icons li a:not([data-iconcolor]):hover, .swatch-blue-white .social-share li a:not([data-iconcolor]):hover, [class*="swatch-"] .swatch-blue-white .social-icons li a:not([data-iconcolor]):hover, [class*="swatch-"] .swatch-blue-white .social-share li a:not([data-iconcolor]):hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.swatch-blue-white .social-simple li a i, [class*="swatch-"] .swatch-blue-white .social-simple li a i {
  color: #fff;
}
.swatch-blue-white .social-simple li a:not([data-iconcolor]):hover i, [class*="swatch-"] .swatch-blue-white .social-simple li a:not([data-iconcolor]):hover i {
  color: rgba(255, 255, 255, 0.8);
}
.swatch-blue-white .grid-post .post-extras:before, [class*="swatch-"] .swatch-blue-white .grid-post .post-extras:before {
  background: #0084e1;
}
.swatch-blue-white .post-extras i, [class*="swatch-"] .swatch-blue-white .post-extras i {
  color: #fff;
}
.swatch-blue-white .list-fancy-icons li, .swatch-blue-white.list-fancy-icons li, .swatch-blue-white .list-fancy-icons .list-item, .swatch-blue-white.list-fancy-icons .list-item, [class*="swatch-"] .swatch-blue-white .list-fancy-icons li, [class*="swatch-"] .swatch-blue-white.list-fancy-icons li, [class*="swatch-"] .swatch-blue-white .list-fancy-icons .list-item, [class*="swatch-"] .swatch-blue-white.list-fancy-icons .list-item {
  background: #0084e1;
}
.swatch-blue-white .list-fancy-icons li .round, .swatch-blue-white .list-fancy-icons li .square, .swatch-blue-white.list-fancy-icons li .round, .swatch-blue-white.list-fancy-icons li .square, .swatch-blue-white .list-fancy-icons .list-item .round, .swatch-blue-white .list-fancy-icons .list-item .square, .swatch-blue-white.list-fancy-icons .list-item .round, .swatch-blue-white.list-fancy-icons .list-item .square, [class*="swatch-"] .swatch-blue-white .list-fancy-icons li .round, [class*="swatch-"] .swatch-blue-white .list-fancy-icons li .square, [class*="swatch-"] .swatch-blue-white.list-fancy-icons li .round, [class*="swatch-"] .swatch-blue-white.list-fancy-icons li .square, [class*="swatch-"] .swatch-blue-white .list-fancy-icons .list-item .round, [class*="swatch-"] .swatch-blue-white .list-fancy-icons .list-item .square, [class*="swatch-"] .swatch-blue-white.list-fancy-icons .list-item .round, [class*="swatch-"] .swatch-blue-white.list-fancy-icons .list-item .square {
  background: #fff;
}
.swatch-blue-white .list-fancy-icons li i, .swatch-blue-white.list-fancy-icons li i, .swatch-blue-white .list-fancy-icons .list-item i, .swatch-blue-white.list-fancy-icons .list-item i, [class*="swatch-"] .swatch-blue-white .list-fancy-icons li i, [class*="swatch-"] .swatch-blue-white.list-fancy-icons li i, [class*="swatch-"] .swatch-blue-white .list-fancy-icons .list-item i, [class*="swatch-"] .swatch-blue-white.list-fancy-icons .list-item i {
  color: #0084e1;
}
.swatch-blue-white .box-inner, [class*="swatch-"] .swatch-blue-white .box-inner {
  background: #fff;
}
.swatch-blue-white .box-inner i, [class*="swatch-"] .swatch-blue-white .box-inner i {
  color: #0084e1;
}
.swatch-blue-white .box-badge, [class*="swatch-"] .swatch-blue-white .box-badge {
  background: rgba(255, 255, 255, 0.9);
  color: #0084e1;
}
.swatch-blue-white .bordered:after, [class*="swatch-"] .swatch-blue-white .bordered:after {
  background: #fff;
}
.swatch-blue-white .vertical-icon-border [class^="col-md"]:first-child, .swatch-blue-white .horizontal-icon-border [class^="box-"]:before, [class*="swatch-"] .swatch-blue-white .vertical-icon-border [class^="col-md"]:first-child, [class*="swatch-"] .swatch-blue-white .horizontal-icon-border [class^="box-"]:before {
  border-color: #fff;
}
.swatch-blue-white #infscr-loading, [class*="swatch-"] .swatch-blue-white #infscr-loading {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white .counter .value, [class*="swatch-"] .swatch-blue-white .counter .value {
  color: #fff;
}
.swatch-blue-white .counter.underline:after, [class*="swatch-"] .swatch-blue-white .counter.underline:after {
  background: #fff;
}
.swatch-blue-white .countdown.underline b:before, [class*="swatch-"] .swatch-blue-white .countdown.underline b:before {
  background: #fff;
}
.swatch-blue-white .gform_wrapper .gsection, [class*="swatch-"] .swatch-blue-white .gform_wrapper .gsection {
  border-color: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .gf_progressbar, [class*="swatch-"] .swatch-blue-white .gf_progressbar {
  background: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .gf_progressbar_percentage, [class*="swatch-"] .swatch-blue-white .gf_progressbar_percentage {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white .mejs-audio, [class*="swatch-"] .swatch-blue-white .mejs-audio {
  background-color: #fff;
  color: #0084e1;
}
.swatch-blue-white .mejs-container .mejs-controls .mejs-time span, [class*="swatch-"] .swatch-blue-white .mejs-container .mejs-controls .mejs-time span {
  color: #0084e1;
}
.swatch-blue-white .mejs-controls .mejs-button button:hover, [class*="swatch-"] .swatch-blue-white .mejs-controls .mejs-button button:hover {
  background: transparent;
}
.swatch-blue-white .mejs-controls .mejs-time-rail .mejs-time-loaded, [class*="swatch-"] .swatch-blue-white .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #0084e1;
}
.swatch-blue-white .mejs-controls .mejs-time-rail .mejs-time-current, .swatch-blue-white .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, [class*="swatch-"] .swatch-blue-white .mejs-controls .mejs-time-rail .mejs-time-current, [class*="swatch-"] .swatch-blue-white .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .select2-container, [class*="swatch-"] .swatch-blue-white .select2-container {
  background: #91B6C6;
}
.swatch-blue-white .select2-container .select2-choice, [class*="swatch-"] .swatch-blue-white .select2-container .select2-choice {
  color: #E5E5E3;
}
.swatch-blue-white .select2-container .select2-choice .select2-arrow b:after, [class*="swatch-"] .swatch-blue-white .select2-container .select2-choice .select2-arrow b:after {
  color: #E5E5E3;
}
.swatch-blue-white .select2-drop-active, [class*="swatch-"] .swatch-blue-white .select2-drop-active {
  background: rgba(145, 182, 198, 0.9);
  color: #E5E5E3;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.swatch-blue-white .select2-results .select2-highlighted, [class*="swatch-"] .swatch-blue-white .select2-results .select2-highlighted {
  background-color: #2B3940;
  color: #E5E5E3;
}
.swatch-blue-white .select2-results, [class*="swatch-"] .swatch-blue-white .select2-results {
  background: #91B6C6;
}
.swatch-blue-white .select2-search, [class*="swatch-"] .swatch-blue-white .select2-search {
  background: #0084e1;
}
.swatch-blue-white .hex, [class*="swatch-"] .swatch-blue-white .hex {
  background-color: #fff;
  color: #0084e1;
}
.swatch-blue-white .hex a, .swatch-blue-white .hex i, [class*="swatch-"] .swatch-blue-white .hex a, [class*="swatch-"] .swatch-blue-white .hex i {
  color: #0084e1;
}
.swatch-blue-white .hex a:hover, .swatch-blue-white .hex:hover, [class*="swatch-"] .swatch-blue-white .hex a:hover, [class*="swatch-"] .swatch-blue-white .hex:hover {
  color: #0084e1;
}
.swatch-blue-white .hex:before, [class*="swatch-"] .swatch-blue-white .hex:before {
  border-bottom-color: #fff;
}
.swatch-blue-white .hex:after, [class*="swatch-"] .swatch-blue-white .hex:after {
  border-top-color: #fff;
}
.swatch-blue-white .hex-left:after, .swatch-blue-white .hex-left:before, .swatch-blue-white .hex-right:after, .swatch-blue-white .hex-right:before, [class*="swatch-"] .swatch-blue-white .hex-left:after, [class*="swatch-"] .swatch-blue-white .hex-left:before, [class*="swatch-"] .swatch-blue-white .hex-right:after, [class*="swatch-"] .swatch-blue-white .hex-right:before {
  background-color: #0084e1;
}
.swatch-blue-white .pricing-head, .swatch-blue-white .pricing-body, [class*="swatch-"] .swatch-blue-white .pricing-head, [class*="swatch-"] .swatch-blue-white .pricing-body {
  background: #B6593D;
  color: #fff;
}
.swatch-blue-white .pricing-head h4, .swatch-blue-white .pricing-head small, .swatch-blue-white .pricing-body h4, .swatch-blue-white .pricing-body small, [class*="swatch-"] .swatch-blue-white .pricing-head h4, [class*="swatch-"] .swatch-blue-white .pricing-head small, [class*="swatch-"] .swatch-blue-white .pricing-body h4, [class*="swatch-"] .swatch-blue-white .pricing-body small {
  color: #fff;
}
.swatch-blue-white .pricing-list li, [class*="swatch-"] .swatch-blue-white .pricing-list li {
  border-color: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .pricing-col .btn-primary, [class*="swatch-"] .swatch-blue-white .pricing-col .btn-primary {
  background: #fff;
  color: #B6593D;
}
.swatch-blue-white .pricing-col .btn-primary:hover, [class*="swatch-"] .swatch-blue-white .pricing-col .btn-primary:hover {
  background: #f0f0f0;
}
.swatch-blue-white .flexslider figcaption, [class*="swatch-"] .swatch-blue-white .flexslider figcaption {
  background: rgba(0, 132, 225, 0.9);
  -webkit-box-shadow: 0px 4px 0px rgba(84, 125, 144, 0.3);
  -moz-box-shadow: 0px 4px 0px rgba(84, 125, 144, 0.3);
  box-shadow: 0px 4px 0px rgba(84, 125, 144, 0.3);
}
.swatch-blue-white .flex-directions-fancy .flex-direction-nav a, [class*="swatch-"] .swatch-blue-white .flex-directions-fancy .flex-direction-nav a {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white .flex-control-nav a, [class*="swatch-"] .swatch-blue-white .flex-control-nav a {
  background: rgba(255, 255, 255, 0.5);
}
.swatch-blue-white .flex-control-nav a.flex-active, [class*="swatch-"] .swatch-blue-white .flex-control-nav a.flex-active {
  background: white;
}
.swatch-blue-white .sidebar, [class*="swatch-"] .swatch-blue-white .sidebar {
  color: #b8cad5;
}
.swatch-blue-white .sidebar h3, [class*="swatch-"] .swatch-blue-white .sidebar h3 {
  color: #fff;
}
.swatch-blue-white .sidebar a, [class*="swatch-"] .swatch-blue-white .sidebar a {
  color: #b8cad5;
}
.swatch-blue-white .sidebar a:hover, [class*="swatch-"] .swatch-blue-white .sidebar a:hover {
  color: #fff;
}
.swatch-blue-white .widget_search .btn, [class*="swatch-"] .swatch-blue-white .widget_search .btn {
  background: #2B3940;
}
.swatch-blue-white .widget_search .btn i, [class*="swatch-"] .swatch-blue-white .widget_search .btn i {
  color: #fff !important;
}
.swatch-blue-white .sidebar-widget .post-icon, [class*="swatch-"] .swatch-blue-white .sidebar-widget .post-icon {
  background: #fff;
}
.swatch-blue-white .sidebar-widget .post-icon i, [class*="swatch-"] .swatch-blue-white .sidebar-widget .post-icon i {
  color: #0084e1;
}
.swatch-blue-white .widget_tag_cloud ul a, [class*="swatch-"] .swatch-blue-white .widget_tag_cloud ul a {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white .widget_tag_cloud ul a:hover, [class*="swatch-"] .swatch-blue-white .widget_tag_cloud ul a:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #0084e1;
}
.swatch-blue-white .widget_calendar tbody a, [class*="swatch-"] .swatch-blue-white .widget_calendar tbody a {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white .widget_calendar tbody a:hover, [class*="swatch-"] .swatch-blue-white .widget_calendar tbody a:hover {
  background: #ededed;
  color: #0084e1;
}
.swatch-blue-white .widget_calendar tfoot, [class*="swatch-"] .swatch-blue-white .widget_calendar tfoot {
  background: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .widget_nav_menu .sub-menu, [class*="swatch-"] .swatch-blue-white .widget_nav_menu .sub-menu {
  border-color: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .widget_oxy_twitter li:before, [class*="swatch-"] .swatch-blue-white .widget_oxy_twitter li:before {
  color: #fff;
}
.swatch-blue-white .widget_swatch_wpml_language_selector li:before, [class*="swatch-"] .swatch-blue-white .widget_swatch_wpml_language_selector li:before {
  background: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .ajax-loader,
.swatch-blue-white .ajax-loader::before, [class*="swatch-"] .swatch-blue-white .ajax-loader,
[class*="swatch-"] .swatch-blue-white .ajax-loader::before {
  border-top-color: #B6593D !important;
}
.swatch-blue-white .button, [class*="swatch-"] .swatch-blue-white .button {
  background: #B6593D;
  color: #fff;
}
.swatch-blue-white .button:hover, [class*="swatch-"] .swatch-blue-white .button:hover {
  background: rgba(182, 89, 61, 0.9);
  color: #fff;
}
.swatch-blue-white .woocommerce-breadcrumb, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb {
  color: #fff;
}
.swatch-blue-white .woocommerce-breadcrumb a, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb a {
  color: #fff;
}
.swatch-blue-white .woocommerce-breadcrumb a:hover, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb a:hover {
  color: #fff;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(1), [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(1) {
  background: #B6593D;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(1):after, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(1):after {
  border-left-color: #B6593D;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(1):hover, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(1):hover {
  background: #a35037;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(1):hover:after, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(1):hover:after {
  border-left-color: #a35037;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(2), [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(2) {
  background: #c2664a;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(2):after, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(2):after {
  border-left-color: #c2664a;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(2):hover, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(2):hover {
  background: #c05f42;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(2):hover:after, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(2):hover:after {
  border-left-color: #c05f42;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(3), [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(3) {
  background: #c9765d;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(3):after, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(3):after {
  border-left-color: #c9765d;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(3):hover, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(3):hover {
  background: #c56c52;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(3):hover:after, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(3):hover:after {
  border-left-color: #c56c52;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(4), [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(4) {
  background: #cf8670;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(4):after, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(4):after {
  border-left-color: #cf8670;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(4):hover, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(4):hover {
  background: #cb7d65;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(4):hover:after, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(4):hover:after {
  border-left-color: #cb7d65;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(5), [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(5) {
  background: #d69683;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(5):after, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(5):after {
  border-left-color: #d69683;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(5):hover, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(5):hover {
  background: #d28d78;
}
.swatch-blue-white .woocommerce-breadcrumb span:nth-child(5):hover:after, [class*="swatch-"] .swatch-blue-white .woocommerce-breadcrumb span:nth-child(5):hover:after {
  border-left-color: #d28d78;
}
.swatch-blue-white .woocommerce-ordering .select-wrap, [class*="swatch-"] .swatch-blue-white .woocommerce-ordering .select-wrap {
  background: #B6593D;
  color: #fff;
}
.swatch-blue-white .woocommerce-ordering .select-wrap:after, [class*="swatch-"] .swatch-blue-white .woocommerce-ordering .select-wrap:after {
  color: #fff;
}
.swatch-blue-white .woocommerce-ordering select, [class*="swatch-"] .swatch-blue-white .woocommerce-ordering select {
  color: #fff;
}
.swatch-blue-white .product .product-title:after, [class*="swatch-"] .swatch-blue-white .product .product-title:after {
  background: #fff;
}
.swatch-blue-white .star-rating, [class*="swatch-"] .swatch-blue-white .star-rating {
  color: #fff;
}
.swatch-blue-white .onsale, [class*="swatch-"] .swatch-blue-white .onsale {
  background: #B6593D;
  color: #fff;
}
.swatch-blue-white .page-numbers a, .swatch-blue-white .page-numbers span, [class*="swatch-"] .swatch-blue-white .page-numbers a, [class*="swatch-"] .swatch-blue-white .page-numbers span {
  color: #fff;
}
.swatch-blue-white .page-numbers li, [class*="swatch-"] .swatch-blue-white .page-numbers li {
  background: #B6593D;
}
.swatch-blue-white .page-numbers .current, .swatch-blue-white .page-numbers li a:hover, [class*="swatch-"] .swatch-blue-white .page-numbers .current, [class*="swatch-"] .swatch-blue-white .page-numbers li a:hover {
  background: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .pager li > a:focus, [class*="swatch-"] .swatch-blue-white .pager li > a:focus {
  background: #B6593D;
  color: #fff;
}
.swatch-blue-white .product-category h3, [class*="swatch-"] .swatch-blue-white .product-category h3 {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white .product-category h3 mark, [class*="swatch-"] .swatch-blue-white .product-category h3 mark {
  background: rgba(0, 0, 0, 0.075);
  color: #0084e1;
}
.swatch-blue-white .product-nav a i, [class*="swatch-"] .swatch-blue-white .product-nav a i {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white .product-images figcaption, [class*="swatch-"] .swatch-blue-white .product-images figcaption {
  box-shadow: none;
  background: #B6593D;
}
.swatch-blue-white .product-images figcaption i, [class*="swatch-"] .swatch-blue-white .product-images figcaption i {
  color: #fff;
}
.swatch-blue-white .product-images .flex-active, [class*="swatch-"] .swatch-blue-white .product-images .flex-active {
  -webkit-box-shadow: 0px 3px 0px #fff;
  -moz-box-shadow: 0px 3px 0px #fff;
  box-shadow: 0px 3px 0px #fff;
}
.swatch-blue-white .order_details, [class*="swatch-"] .swatch-blue-white .order_details {
  background: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .order_details li, [class*="swatch-"] .swatch-blue-white .order_details li {
  border-color: rgba(26, 26, 26, 0.075);
}
.swatch-blue-white .product-type-variable .variations .select-wrap, [class*="swatch-"] .swatch-blue-white .product-type-variable .variations .select-wrap {
  margin-bottom: 24px;
}
.swatch-blue-white .product-type-variable .variations .select-wrap select, [class*="swatch-"] .swatch-blue-white .product-type-variable .variations .select-wrap select {
  line-height: 28px;
}
.swatch-blue-white .product-type-variable .variations .label, [class*="swatch-"] .swatch-blue-white .product-type-variable .variations .label {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}
.swatch-blue-white .single-product-extras input, .swatch-blue-white .single-product-extras textarea, [class*="swatch-"] .swatch-blue-white .single-product-extras input, [class*="swatch-"] .swatch-blue-white .single-product-extras textarea {
  background: #0084e1;
  color: #fff;
}
.swatch-blue-white .single-product-extras input[type="submit"]:hover, [class*="swatch-"] .swatch-blue-white .single-product-extras input[type="submit"]:hover {
  background: rgba(0, 132, 225, 0.9);
  color: #fff;
}
.swatch-blue-white .single-product-extras .table, [class*="swatch-"] .swatch-blue-white .single-product-extras .table {
  background: transparent !important;
}
.swatch-blue-white #review_form:before, [class*="swatch-"] .swatch-blue-white #review_form:before {
  background: #e6e6e6;
}
.swatch-blue-white.mini-cart-container.active, [class*="swatch-"] .swatch-blue-white.mini-cart-container.active {
  box-shadow: -10px 0px 0px rgba(84, 125, 144, 0.3);
}
.swatch-blue-white .cart_list li, [class*="swatch-"] .swatch-blue-white .cart_list li {
  border-color: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .cart-actions, [class*="swatch-"] .swatch-blue-white .cart-actions {
  background: #0084e1;
  color: #fff;
}
.swatch-blue-white .widget_product_tag_cloud a, [class*="swatch-"] .swatch-blue-white .widget_product_tag_cloud a {
  background: #fff;
  color: #0084e1;
}
.swatch-blue-white .widget_product_tag_cloud a:hover, [class*="swatch-"] .swatch-blue-white .widget_product_tag_cloud a:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #0084e1;
}
.swatch-blue-white .product_list_widget .star-rating, [class*="swatch-"] .swatch-blue-white .product_list_widget .star-rating {
  color: #fff;
}
.swatch-blue-white .widget_price_filter .ui-slider .ui-slider-range, [class*="swatch-"] .swatch-blue-white .widget_price_filter .ui-slider .ui-slider-range {
  background: rgba(0, 0, 0, 0.075);
}
.swatch-blue-white .widget_price_filter .ui-slider .ui-slider-handle, [class*="swatch-"] .swatch-blue-white .widget_price_filter .ui-slider .ui-slider-handle {
  background: #fff;
}
.swatch-blue-white .widget_product_search form:after, [class*="swatch-"] .swatch-blue-white .widget_product_search form:after {
  color: #0084e1;
}
